[2017-07-26 05:50] TitouanVanBelle opened #1 "Make left column resizable"
Left column is currently not resizable which makes it impossible to see the device's identifier completely.

[2017-07-26 07:33] TitouanVanBelle opened #2 "Add verbose command line argument"
Add a verbose command line argument

[code]

[2017-07-26 07:35] TitouanVanBelle opened #3 "Add help command line argument"
Add a help command line argument

[code]

It should print all the command line arguments that can be passed to `xchtmlreport` as well as a small description.

[2017-07-27 04:14] TitouanVanBelle opened #4 "Convert time to minutes and seconds when above 60s"

[2017-07-28 04:46] TitouanVanBelle opened #8 "Arrow key controls"
## Screenshots

<img width="1306" alt="screen shot 2017-07-28 at 12 44 39" src="https://user-images.githubusercontent.com/1162441/28702880-aebadd06-7392-11e7-9084-d5516f748b99.png">
<img width="1305" alt="screen shot 2017-07-28 at 12 44 48" src="https://user-images.githubusercontent.com/1162441/28702881-af380722-7392-11e7-84e7-b0238bae5bbe.png">

[2017-07-28 13:15] #1 closed

[2017-07-28 13:15] #2 closed

[2017-07-28 13:15] #3 closed

[2017-07-28 13:15] #4 closed

[2017-07-28 13:15] #8 closed

[2017-07-28 14:13] TitouanVanBelle opened #12 "Make it possible to pipe xchtmlreport"
Make it possible to use xchtmlreport like by piping the xcodebuild command

[code]

[2017-07-31 08:03] TitouanVanBelle opened #14 "Support JPEG Attachments"
Xcode 9 Beta 4 uses now the JPEG format for screenshots.

[2017-07-31 08:23] TitouanVanBelle opened #16 "Hide XCTestCase header when none of these tests are shown"
When filtering out the failing or successful tests, headers for XCTestCases whose tests are not displayed should be hidden/

[2017-07-31 08:50] TitouanVanBelle opened #17 "install.sh always downloads the build from master"
It should download the build from the branch it's on

[2017-08-01 03:22] TitouanVanBelle opened #19 "Add loading indicator when attachments are loading"

[2017-08-01 03:34] TitouanVanBelle opened #20 "Print version of xchtmlreport when used"

[2017-08-01 04:37] TitouanVanBelle opened #21 "Add total amount of tests"

[2017-08-02 07:28] #14 closed

[2017-08-02 07:29] #16 closed

[2017-08-02 07:29] #17 closed

[2017-08-02 07:29] #20 closed

[2017-08-02 07:29] #21 closed

[2017-08-10 15:33] TitouanVanBelle opened #26 "Add 'Report an issue' link"

[2017-10-05 02:06] rsaffer opened #27 "Error when using xchtmlreport -r"
The TestResults folder was created succesfully, but when calling xchtmlreport -r TestResults, I get
[code]

[2017-10-21 08:59] TitouanVanBelle opened #28 "Support for parallel testing"

[2017-11-26 22:18] TitouanVanBelle commented on #27
Hi @rsaffer,

Somehow I missed the notification for this issue. Do you have a sample project where I could reproduce this? Or if you could upload the TestResults somewhere so that I can give it a try that'd be great.

[2017-11-26 22:18] #12 closed

[2017-11-27 13:34] #28 closed

[2017-12-02 21:48] TitouanVanBelle opened #30 "Support crash report as attachment"
... and more generally public.data

[2017-12-02 23:06] TitouanVanBelle opened #32 "Support HTML attachment"

[2017-12-12 09:55] TitouanVanBelle opened #36 "Impossible to copy with cmd + c"
When I select some text in the report
And I hit Cmd + C
Then the text is not copied

[2017-12-12 09:56] TitouanVanBelle opened #37 "Impossible to search in the report"
When I hit Cmd + F
Then the search bar does not open

--
I does work when the iframe (on the right) is in focus

[2017-12-13 13:54] TitouanVanBelle opened #40 "Acceptance Tests"
Setup Cucumber + Capybara to run some acceptance tests

[2017-12-13 15:11] SpeedyNassir commented on #40
@TitouanVanBelle  Is this created so as to integrate Cucumber with Xctest? If yes XCTest-Gherkin provides a solution.

https://cocoapods.org/pods/XCTest-Gherkin
https://github.com/net-a-porter-mobile/XCTest-Gherkin

Grouping test activities (a feature introduced in Xcode 9) in step def keeps the report simple and short in Gherkin format.

[2017-12-14 12:25] TitouanVanBelle commented on #40
Hey @SpeedyNassir. No it's about covering the tool with test not to break anything when adding new features.

But I was already aware of XCTest-Gherkin but I prefer Cucumberish because it really allows you to use .feature files.

[2017-12-14 12:28] TitouanVanBelle commented on #27
@SpeedyNassir are you also having this issue? Are you able to add more debugging information to this so that I can figure out what's wrong?

[2017-12-16 10:43] SpeedyNassir commented on #27
@TitouanVanBelle  I had same issues when I tried couple of months back, and it was working fine a month back. Will update in case if the issue comes up again.

[2017-12-19 04:08] luisxiaomai opened #41 "[Enhancement] Is it possible to add xctest to html report or provide another command line?"
Hi,

Firstly  thanks for this great tool.
But is it possible to add xctest to html report or provide another command line, because we usually run test both include unit test and ui test?

Thanks
Luis

[2017-12-19 17:04] TitouanVanBelle commented on #41
Hi @luisxiaomai

Could you provide an example of the command line that you run?

[2017-12-20 01:44] luisxiaomai commented on #41
@TitouanVanBelle , we use [xcpretty ](https://github.com/supermarin/xcpretty) to generate html report which include xctest and xcuitest logs. What I hope is that this tool can also include xctest result not only xcuitest result.

[2017-12-21 22:08] TitouanVanBelle commented on #41
@luisxiaomai XCUITestHTMLReport makes use of the `-resultBundlePath` options that you can pass to `xcodebuild`. It allows `xcodebuild` to save the results of the tests at a specified path.

What I noticed is that if you simply test a UI Testing target with for example the following command
[code]
Then the `TestResults` folder will contain the results of the UI Tests

If you test a Unit Testing tar

[2017-12-22 06:49] TitouanVanBelle commented on #41
@luisxiaomai I think I got what you want. I'm working on the fix. I let you know when it's released

[2017-12-22 08:31] TitouanVanBelle commented on #41
@luisxiaomai
It's ready but not released yet so you can try it out the following way

First remove you current `xchtmlreport` binary
[code]

Then download a new one from `develop`
[code]

Let me know if that works for you.

[2017-12-23 09:28] TitouanVanBelle commented on #41
Released in 1.4.0

[2017-12-23 09:28] #41 closed

[2017-12-23 09:28] TitouanVanBelle commented on #37
Released in 1.4.0

[2017-12-23 09:28] #37 closed

[2017-12-23 09:29] TitouanVanBelle commented on #36
Released in 1.4.0

[2017-12-23 09:29] #36 closed

[2017-12-23 09:29] TitouanVanBelle commented on #32
Released in 1.4.0

[2017-12-23 09:29] #32 closed

[2017-12-23 09:29] TitouanVanBelle commented on #30
Released in 1.4.0

[2017-12-23 09:29] #30 closed

[2017-12-23 09:29] TitouanVanBelle commented on #26
Released in 1.4.0

[2017-12-23 09:29] #26 closed

[2017-12-25 01:58] luisxiaomai commented on #41
@TitouanVanBelle , that's what I want, Thanks for that.

[2018-01-11 16:27] mirza-ae opened #43 "Not generating reports if tests failed"
I observed that if tests failed, then the report, "index.html" is not generated. The rest of the files like logs and attachments are.

Is this expected?

[2018-01-11 16:56] mirza-ae commented on #43
My bad. Closing.

[2018-01-11 16:56] #43 closed

[2018-01-11 18:28] TitouanVanBelle commented on #43
Hi @mirza-ae
Would you mind explaining what the problem was? I'm interested

[2018-01-11 18:30] mirza-ae commented on #43
Yes of course.

So I developed a shell script that executed the tests and generated a report. I set the script to exit as soon as failures are detected.

That's the reason why the reports were not being generated. Because I exit the script as soon as the tests failed.

[2018-01-11 18:33] TitouanVanBelle commented on #43
Makes sense. Thanks for the explanation.

[2018-01-11 18:34] mirza-ae commented on #43
A pleasure, and my compliments. It's a very nice utility you have here.

[2018-01-11 18:54] TitouanVanBelle commented on #43
Thanks for the feedback. Spread the word! :)

[2018-02-08 18:25] pjotal opened #44 "Write activity containing failure in red"
it was noticed that if the test is written using XCTContext.runActivity (introduced in XCode 9) and the failure happen on an action inside this actitivity, this activity is not highlighted which pretty much obliges the reader to expand all steps inside the test to find where the error occurred.

here is a sample test so you can reproduce:
[code]

[2018-02-08 20:22] TitouanVanBelle commented on #44
Hi @pjotal
Thanks for the idea. I just implemented it. You can download this temporary version to try it out and come back to me if that works for you or not

https://github.com/TitouanVanBelle/XCTestHTMLReport/raw/15ee61d6331978b80abb18b7cb28f45c69b49b5c/xchtmlreport

[2018-02-26 19:35] TitouanVanBelle commented on #27
Closing issue due to inactivity

[2018-02-26 19:35] #27 closed

[2018-03-06 15:57] pjotal commented on #44
sorry for the delay on checking that. the result is awesome! works like a charm.
can't wait to have that in an official release

[2018-03-06 16:50] pjotal commented on #44
in order to reproduce it in your end, set the test to `continueAfterFailure = true` and create a workflow that fails in different places. this way you should see several steps failing after the one that originated the failure.

[2018-03-15 07:21] TitouanVanBelle commented on #44
@pjotal Could you provide an example of test as well as screenshots showing the differences between Xcode and XCTestHTMLReport?

[2018-03-20 03:30] jeandeng opened #46 "Add total amount of PASSED/FAILED tests"
Current version on master branch, there is only total test cases like "Selected tests - 7 tests (15s)" displayed in html report, but lack of summary for amount of PASSED or FAILED tests

[2018-03-20 08:49] TitouanVanBelle commented on #46
Hi @jeandeng
Could you maybe add screenshots of what you mean?

[2018-03-20 09:18] jeandeng commented on #46
![image](https://user-images.githubusercontent.com/15320079/37645481-f0588a8c-2c61-11e8-8fa7-493a3a120cf3.png)
Take the screenshot of the code page as example, it can be seen from it that there is only amount of all test cases,
All tests-4 tests
XCTestHTMLReportSampleAppUITests.xctest - 4 tests
FirstSuite - 2 tests

all of the number reflects the total amount of tests, but not displays how many pa

[2018-03-20 10:51] TitouanVanBelle commented on #46
Ok. I see what you mean now. Thanks.

The data in that section is what XCTestHTMLReport gets directly from Xcode so it would be a bit dirty to update the data in there. Now what I could easily do is add between () the amount of tests, passed tests and failed tests in the toolbar above. That would look like this:

![screen shot 2018-03-20 at 11 50 58](https://user-images.githubusercontent.com/11624

[2018-03-20 10:57] jeandeng commented on #46
Yes, it looks well, and I can get the direct data without check the Xcode raw outputs. So if this function is available, please update it, thanks.

[2018-03-20 10:58] TitouanVanBelle commented on #46
Sure. I'll add this in the next few days and will ping you.

[2018-03-20 20:13] ripunjayasaran opened #47 "Test report missing information for 1 device?"
Thanks a lot for creating this wonderful tool.

I am running 2 different tests (Test1 & Test2) in parallel on 2 different simulators. I am trying to run a test on 1 simulator and another test on another simulator and then generate the report using XCTestHTMLReport. The command that I am using is:

`xcodebuild test -workspace my_workspace_name -scheme my_scheme_name -destination 'platform=iOS Simul

[2018-03-20 20:17] ripunjayasaran commented on #47
cc: @TitouanVanBelle

[2018-03-21 08:53] TitouanVanBelle commented on #47
Hi @ripunjayasaran. Thanks for the feedback

I think your assumption is right and that one report is overridden by the other one when using the command you posted. One solution involving `xctesthtmlreport` receiving multiple `-r` values as input could be implemented, then the tool would spit out only one html report for all the bundle paths received as input.

I'll take a look as soon as I have ti

[2018-03-21 19:47] ripunjayasaran commented on #47
Thanks a lot. Appreciate the prompt feedback. Looking forward to what you come up with :+1:

[2018-03-22 09:45] jeandeng commented on #46
Thanks TitouanVanBelle, it's great. Yeah, I noticed that the corner icon, it's a meaningful hint!

[2018-03-30 04:20] TitouanVanBelle commented on #47
Could you maybe share with me a .zip containing TestResults1 and TestResults2 with me so that I can check on my end?

[2018-03-30 04:21] TitouanVanBelle commented on #47
That's what you should see now when passing two reports and the -v options
[code]

[2018-03-30 19:59] ripunjayasaran commented on #47
@TitouanVanBelle : I figured out that the problem was with `bash <(curl -s https://raw.githubusercontent.com/TitouanVanBelle/XCTestHTMLReport/47_multiple_results/install.sh)` where it was installing the tool from master branch instead of from the branch were you pushed the changes because the install.sh script harcodes the branch as master. So after i installed the correct version of the tool i ca

[2018-03-30 20:04] ripunjayasaran commented on #47
Also, you might wanna add some instructions on how to generate report for parallel test runs on your readme file after you merge the changes to your master branch.

[2018-04-03 09:33] TitouanVanBelle commented on #47
Thanks a lot for the feedback @ripunjayasaran :)
I wanna run some more tests on this to make sure that it didn't break anything and that it's working properly but I'll merge as soon as that's done and release 1.5.0 as well.

[2018-04-03 17:03] ripunjayasaran commented on #47
@TitouanVanBelle : any idea about the exit code 65 issue that i mentioned earlier?

[2018-04-10 06:56] #44 closed

[2018-04-10 06:56] #46 closed

[2018-04-10 06:56] #47 closed

[2018-04-13 21:52] maxelrod opened #51 "Would be useful to be able specify arbitrary tags to a simulator"
E.g: I am running multiple simulators, and and would like to be able to set arbitrary values for a simulator in addition to the Type and UUID. Perhaps an argument to pass in tags for a set of uuids? eg: { UE34242: { key : value }}? and have them show up in the TargetDevice struct and thence in the left simulator panel.

[2018-04-16 11:29] TitouanVanBelle commented on #51
Could you explain why you would want to do that?

[2018-04-17 10:33] Ashraf-Ali-aa opened #52 "Firefox browser issue"
Hi @TitouanVanBelle, thanks for a great tool, but I am having issues viewing all the logs on firefox browser since on firefox it does not seem to scroll when you expand the tree view but the same file works on chrome. Also is possible to copy the Xcode log files to the same place where the HTML file has generated the reason being I can easily upload the logs to a remote server when the tests are r

[2018-04-18 18:56] TitouanVanBelle commented on #52
Hi @Ashraf-Ali-aa. Thanks for the report. I just fixed the issue. I won't release it now but you can still install the version of the tool from the `develop` branch. Let me know if that works out for you.

Please open another ticket for the other issue you mentioning here.

[2018-04-20 07:49] Ashraf-Ali-aa commented on #52
@TitouanVanBelle thanks, that has resolved the issue but I did notice that if the log error messages are very long it pushed the side image menu off the screen.

[2018-04-20 17:24] ripunjayasaran opened #54 "Show ignored tests and their count also in the report"
The current report shows the passing and failing tests. It would be nice if it would also show the ignored tests and the count of ignored tests as well.

cc: @TitouanVanBelle

P.S. - Thanks again for the wonderful report :)

[2018-04-20 17:35] ripunjayasaran commented on #54
This is not a bug, but more like a feature request.

[2018-04-20 18:22] chrisballinger opened #55 "Add Homebrew formula"
It would be nice to be able to use Homebrew to download/update instead of using the install.sh script. Here's a simple guide: https://github.com/Homebrew/brew/blob/master/docs/Formula-Cookbook.md

If you'd like I can create a formula for you!

[2018-04-20 22:18] chrisballinger opened #56 "Failed to extract activity logs"
When using the output from `fastlane scan` there is a warning printed.

[BonMot-OSX.test_result.zip](https://github.com/TitouanVanBelle/XCTestHTMLReport/files/1933834/BonMot-OSX.test_result.zip)

[2018-04-21 09:12] TitouanVanBelle commented on #55
Hi @chrisballinger
Yes. That's be great to have it on Homebrew and you could provide the formula that'd be really helpful.

[2018-04-23 12:55] TitouanVanBelle commented on #56
Thanks for the report. What version of Xcode are you using?

[2018-04-23 12:55] TitouanVanBelle commented on #52
Can you provide a screenshot of the issue?

[2018-04-23 14:29] chrisballinger commented on #56
9.3

[2018-04-23 14:30] ripunjayasaran commented on #56
@TitouanVanBelle : I have seen this issue happening on XCode 9.2 as well.

[2018-04-23 14:36] chrisballinger commented on #56
The report HTML seems to look fine, so maybe it's just a false alarm? Great job btw!

[2018-04-23 18:10] Ashraf-Ali-aa commented on #52
@TitouanVanBelle here is the image (sorry I had to redact the image)
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/7900956/39144778-b4a81722-4729-11e8-8410-9c0e0729d2d2.png">

[2018-04-23 20:46] chrisballinger opened #58 ""Report an Issue" background shouldn't be transparent"
When testing many devices, it will overlap the below content.
![screen shot 2018-04-23 at 1 43 52 pm](https://user-images.githubusercontent.com/518687/39152284-b4edb3fe-46fc-11e8-8557-dbaceba456bd.png)

[2018-04-23 20:49] chrisballinger opened #59 "Show which device has failing tests"
From the current overview it is hard to tell which device has the failing tests. I'd suggest adding some visual indicator on the device cell if there were failing tests.

Which device has the failing tests?

![screen shot 2018-04-23 at 1 43 50 pm](https://user-images.githubusercontent.com/518687/39152321-d2d4b052-46fc-11e8-89a6-2580bf55a0ba.png)

It's the iPhone SE!

![screen shot 2018-04-23 at 1

[2018-04-23 20:52] chrisballinger opened #60 "Devices pane is not vertically scrollable"
This is a problem when there are many devices.

[2018-04-25 20:21] chrisballinger opened #62 "Add option for JUnit XML output"
This tool handles multiple devices much better than the alternatives like xcpretty and [trainer](https://github.com/KrauseFx/trainer), so I'm wondering if I could easily add an option for JUnit XML output.

[2018-04-26 19:11] TitouanVanBelle commented on #54
XCTestHTMLReport uses the result bundle as datasource for generating the report. I think that if you ignore a test then it will not appear in the `action_TestSummaries.plist` in the result bundle and therefore won't be even seen by the tool.

Just to make sure, can you tell me how you ignore tests?

[2018-04-26 19:12] #19 closed

[2018-04-26 23:27] chrisballinger opened #64 "Add xchtmlreport fastlane plugin to documentation"
Once I upstream the xchtmlreport fastlane plugin (blocked on my JUnit PR #63 and a new stable release), it would be useful to show example `Fastfile` usage / add that to the documentation.

[code]

* https://github.com/Raizlabs/BonMot/blob/feature/danger/fastlane/actions/xchtmlreport.rb

[code]

[2018-05-01 07:09] TitouanVanBelle commented on #56
@chrisballinger Not sure how that relates to this specific issue. This issue was caused because a string ("Running tests...") that the tool was looking for before doesn't seem to be there anymore. I already created a PR for the fix but still need to test it on different version of Xcode to make sure that it still works.

[2018-05-01 07:13] TitouanVanBelle commented on #62
I'd be happy to add this to the tool. But then I think it would also make sense to rename the tool and the repo XCTestReport. What do you think?

[2018-05-04 16:56] chrisballinger opened #66 "Add Travis or CircleCI"
Do you have an existing account set up with either service? I have experience with both and can contribute a basic `.travis.yml` or `.circleci/config.yml`.

[2018-05-04 16:58] ripunjayasaran commented on #54
I ignored the test by right clicking on the test in the XCode editor and choosing the 'Disable testname' option. It then makes an entry to the .xcscheme file.

[2018-05-04 19:39] maxelrod commented on #51
I might want to group serveral simulators of a type together and have them execute a specific set of tests (Widget-X) run concurrently against a set of tests. It would be nice to know which simulators had the WidgetX tag applied in the left pane view.

[2018-05-04 19:40] maxelrod opened #67 "Symbolicate crashlogs"
Might be nice to be able to pass in a pointer to the debug symbols and have xchtml autosymbolicate the crashlogs it finds.

[2018-05-05 06:44] TitouanVanBelle commented on #66
I just linked the repo to my Travis account. Feel free to add the .yml.

[2018-05-10 20:46] chrisballinger commented on #66
Resolved in #68

[2018-05-10 20:46] #66 closed

[2018-05-10 20:54] chrisballinger opened #69 "1.6.0 Release Notes"
Looks like we are getting pretty close to a 1.6.0 release.

Release notes:

* Add JUnit XML reports (`-j`) #63
* Improved device list HTML #61 #53
* Add Homebrew formula #57
* Added Travis-CI support #68

Changelog since 1.5.0: https://github.com/TitouanVanBelle/XCTestHTMLReport/compare/1.5.0...master

[2018-05-11 10:35] TitouanVanBelle commented on #69
Yes we are. I'd like to include #56 too though since it's already fixed and just needs to be tested. I'll do that this weekend.

Also is there anything special to do for homebrew when releasing?

[2018-05-11 15:45] chrisballinger commented on #69
Oh yeah it needs to point to the new tagged zip file and the sha256 hash updated. You'll have to make the tag first, then download the zip:

[code]

[code]

[2018-05-16 16:40] ripunjayasaran opened #70 "Screenshots are not shown in report for second device when running tests in parallel"
I am running tests in parallel on 2 simulators and generating the report of the test run via `xchtmlreport -r TestResults1 -r TestResults2 -v`
The report gets generated fine. I am also embedding screenshots of failures in the reports. If there are any failures on the first simulator, it's screenshots do show up in the report. However, if there are any failures on the second simulator, then the scr

[2018-05-16 16:40] ripunjayasaran commented on #70
@TitouanVanBelle

[2018-05-16 20:27] ripunjayasaran commented on #70
@TitouanVanBelle : thanks a lot for the timely fix. Much appreciated.

[2018-05-17 14:36] ripunjayasaran commented on #70
@TitouanVanBelle : Do you have an ETA on when 1.6.0 will be released?

[2018-05-20 18:34] TitouanVanBelle commented on #69
Released! Thanks for your contributions!

[2018-05-20 18:34] #69 closed

[2018-05-20 18:34] #62 closed

[2018-05-20 18:34] #60 closed

[2018-05-20 18:34] #59 closed

[2018-05-20 18:35] #58 closed

[2018-05-20 18:35] #56 closed

[2018-05-20 18:35] #55 closed

[2018-05-20 18:35] #52 closed

[2018-05-21 14:10] ripunjayasaran opened #73 "Unable to install the report"
Using `bash <(curl -s https://raw.githubusercontent.com/TitouanVanBelle/XCTestHTMLReport/master/install.sh)` to download the latest version of the tool does not work anymore on the CI builds. The error that i get is:

Also, using the homebrew formula `brew install TitouanVanBelle/XCTestHTMLReport/xchtmlreport` throws an error as well:

Note: using `bash <(curl -s https://raw.githubusercontent.com/

[2018-05-21 14:10] ripunjayasaran commented on #73
cc: @TitouanVanBelle

[2018-05-21 15:58] chrisballinger commented on #73
@ripunjayasaran This is resolved in #74

Try:

[code]

[2018-05-21 16:00] ripunjayasaran commented on #73
@chrisballinger : Thanks a lot for the timely fix. Any chance we could release this with 1.6.0 so that we could use `bash <(curl -s https://raw.githubusercontent.com/TitouanVanBelle/XCTestHTMLReport/master/install.sh)` instead?

[2018-05-21 16:18] ripunjayasaran commented on #73
@chrisballinger : Thanks a lot. Much appreciated.

[2018-05-21 19:04] chrisballinger commented on #73
Ok it’s merged. Did that resolve your CI issue?

[2018-05-21 19:06] ripunjayasaran commented on #73
@chrisballinger : Going to try out shortly and let you know. Thanks again for all your work!

[2018-05-21 19:09] TitouanVanBelle commented on #73
Thanks for the report and the fix! Didn't pay attention to that after releasing.

[2018-05-21 19:10] ripunjayasaran commented on #73
@chrisballinger : The issue is fixed now. I can now get the latest 1.6.0 fixes via the regular command.

[2018-05-21 20:36] ripunjayasaran commented on #73
@TitouanVanBelle : would it safe to assume that changes for 1.6.0 have not been released yet? Using `bash <(curl -s https://raw.githubusercontent.com/TitouanVanBelle/XCTestHTMLReport/master/install.sh)` to download the report, states the version of the tool at 1.6.0, but if i use `xchtmlreport -h` i see the version as 1.5.0. Also, i don't see the fix for #70 when i installed the report a few minut

[2018-05-21 20:42] ripunjayasaran commented on #73
I think all your changes & bug fixes for 1.6.0 are on the develop branch and have not been merged to master yet. However, changing the branch name to get the fixes using `bash <(curl -s https://raw.githubusercontent.com/TitouanVanBelle/XCTestHTMLReport/develop/install.sh)` doesn't work either. cc: @chrisballinger

[2018-05-22 02:36] chrisballinger commented on #73
@ripunjayasaran The release is right here: https://github.com/TitouanVanBelle/XCTestHTMLReport/releases/tag/1.6.0

The binary attached to the release was compiled with the `1.6.0` git tag, which should include a fix for #70. https://github.com/TitouanVanBelle/XCTestHTMLReport/releases/download/1.6.0/xchtmlreport-1.6.0.zip

I'm guessing the output is printing the wrong version due to a bug in the c

[2018-05-22 05:43] TitouanVanBelle opened #76 "1.6.0 has wrong version number"
Binary for 1.6.0 has version 1.5.0

[2018-05-22 11:14] kamon70 opened #79 "wrong path of screenshot attachment when test result is in subdirectory"
Step to reproduce
- Make test result directory ex; TestResults
- Put test result in subfolder ex; TestResults/device0
- Run command below
- run xchtmlreport -r ./TestResults/device0 -r ./TestResults/device1 -r ./TestResults/device2 -v

**Observed result**
- Report can be created in ./TestResults/device0 as expected (/)
- Wrong attachment links are found in the report ex;
/TestResults/**TestResults

[2018-05-22 11:44] TitouanVanBelle commented on #79
Hi @kamon70. Thanks for the report.

Which version did you experience this one?

[2018-05-22 12:04] kamon70 commented on #79
1.6.0

[2018-05-22 14:21] ripunjayasaran commented on #79
@TitouanVanBelle : i see this issue happening for me as well even after #70 has been fixed. My test results are also in a sub-directory similar to to what @kamon70 mentioned earlier. I guess this is the reason why i only see screenshots in the report for the first device and not for the other devices.

[2018-05-22 20:58] ripunjayasaran commented on #79
@TitouanVanBelle : I think due to this issue the screenshots are not even appearing in the report when running the tests on a single device or simulator. I think either this issue or the 1.6.0 release broke that feature. We might wanna fix this soon. cc: @chrisballinger

[2018-05-23 17:19] TitouanVanBelle commented on #79
I just worked on a fix that uses absolute paths for screenshots instead of relative paths. Waiting for the review. Once it's merged we might wanna release a patch fixing this and the version number of 1.6.0.

[2018-05-29 06:55] #79 closed

[2018-05-29 06:55] #76 closed

[2018-05-29 07:22] TitouanVanBelle opened #82 "Automate releases"

[2018-05-29 18:27] algrubb opened #83 "wrong path for screenshot attachments for all but first device after downloading report from CI"
**Affected Version**
`1.6.1`

**Repro steps**

* Generate test result bundles for multiple devices on a CI machine.
* Run xchtmlreport on the CI machine passing multiple result bundles

[code]
* Download the full result bundle directory from the CI machine, that includes the `index.html` report created by xchtmlreport.
* Open the downloaded `index.html`.
* Observe the paths for screenshots for `te

[2018-05-29 18:29] ripunjayasaran commented on #83
@TitouanVanBelle : This is an issue on 1.6.1 as well.

[2018-05-30 13:56] FabienLydoire opened #84 "Failed tests : Failing lines should be red"
On Xcode, when a test is failing, the text line is in red.
All the lines from the root of the test to the failing assert are in red.
It helps finding back which assert did fail, especially when we set the tests to continue after failure (continueAfterFailure = true).
Can you implement this feature ?

[2018-05-31 16:33] maxelrod opened #85 "Brew installs wrong version or version # still incorrect"
[code]

[2018-05-31 17:09] TitouanVanBelle commented on #85
Your title mentions brew but the your post seems more related to the alternative installation.

The version you're trying to install through the following command is 1.6.0
[code]

It is already a known bug that 1.6.0 has an incorrect version. This has been fixed in 1.6.1 as shown below

[code]

[2018-05-31 17:13] TitouanVanBelle opened #86 "No available formula with the name "titouanvanbelle/xctesthtmlreport/xchtmlreport""
@chrisballinger I can't seem to be able to install `xchtmlreport` through brew. Any idea what's happening there?

[code]

[2018-06-01 11:30] krin-san commented on #86
Same for me. Can't install this tool using Homebrew

[2018-06-09 18:16] maxelrod opened #87 "brew not working"
[code]

[2018-06-09 18:17] maxelrod commented on #87
These are commands pasted straight from project `README.md`

[2018-06-09 19:03] TitouanVanBelle commented on #87
Closing. Duplicate of #86

[2018-06-09 19:03] #87 closed

[2018-06-18 14:10] amleszk opened #90 "Inline CSS style is disallowed when viewing the report on Jenkins, CSS security rules violated?"
Hi all. Thanks for making this helpful command. When viewing on Jenkins using Archived artifacts, the CSS is not allowed, which makes the tool less useful. See errors below and attached **index.html**

**The version of Xcode you're using**
9.4

**The version of iOS or OS X you're targeting**
High Sierra 10.13.4
iOS 11

**The full output of the command**
Report successfully created at TestResults/i

[2018-06-18 14:12] amleszk commented on #90
[index.html.zip](https://github.com/TitouanVanBelle/XCTestHTMLReport/files/2111578/index.html.zip)

[2018-06-18 19:01] amleszk commented on #90
This is actually fixed by modifying Jenkins to allow for these rules.

https://stackoverflow.com/questions/37618892/jenkins-content-security-policy
https://wiki.jenkins.io/display/JENKINS/Configuring+Content+Security+Policy
https://content-security-policy.com/#source_list

[2018-06-19 14:09] amleszk commented on #90
The console command that worked was: `System.setProperty("hudson.model.DirectoryBrowserSupport.CSP", "default-src 'self' 'unsafe-inline' 'unsafe-eval'; img-src data:;")` but the images still do not download because of `csp:image` violation

@TitouanVanBelle I am not a web developer so maybe this is not possible, I think the generated HTML should avoid being un-safe as to not require these not pre-

[2018-06-22 21:50] kdbertel commented on #86
I am having this problem as well. Are there any plans for a fix? Better, are there any plans to include the formula in Homebrew directly?

[2018-06-23 05:03] chrisballinger commented on #86
Homebrew won't merge the formula unless this repo has more than 50 stars

On Fri, Jun 22, 2018 at 2:50 PM Keith Bertelsen <notifications@github.com>
wrote:

[2018-06-23 12:59] krin-san commented on #86
50 stars? That's doable. Already integrated this tool on my project and the results is really satisfying! Gave my star to it.

[2018-06-26 07:59] TitouanVanBelle commented on #86
We got them now :)

[2018-06-26 13:10] TitouanVanBelle commented on #90
Hi @amleszk
Thanks for the report.

The inline style is mainly used for setting the padding of sub-tests, sub-activities and attachments depending on how deep we are in the test hierarchy. While I think there is definitely similar way of achievement this without inline-style I'd rather keep it like this than have to restructure the HTML and find another layout, especially that you seem to have fou

[2018-06-26 13:10] #90 closed

[2018-06-26 13:10] #85 closed

[2018-06-26 13:30] #73 closed

[2018-06-26 13:31] FabienLydoire commented on #84
Thanks for the tool @TitouanVanBelle  !
I nevertheless still have issues with the red colouring of the lines. It does not work 100% of the time on our own test results...
So the #89 does not resolve the #84. It should be re-opened.

[2018-07-06 06:33] kenji21 opened #92 "Display phone language on the device list"
First, thank to all contributors of this nice tool

The "issue" is that we can't determine in which language the device was set (we use this with screenshot attachments to "preview" screens in different languages)

<img width="359" alt="screen shot" src="https://user-images.githubusercontent.com/1105089/42362890-9b50faea-80f5-11e8-9c62-b0aaaf30e805.png">

Just like Model / Identifier, I'll like to

[2018-07-11 04:53] ganjarpanji opened #93 "Ability to generate report from bluepills for each simulator"
Is there such a way to generate report from bluepills ? that basically using junit or json type report.
https://github.com/linkedin/bluepill
Thanks!

[2018-08-27 20:15] maxelrod opened #94 "A testresult bundle created when no tests were run will hang xchtmlreport"
1. Do a xcodebuild test with zero tests (because you misspelled your test suite or something)
2. pass the resulting test result bundle to to xchtmlreport via -r

Expected:
No hang  and / or message about no test results found

Actual:
Hang

[2018-08-27 20:16] maxelrod commented on #94
Normally, would not do this, but xchtmlreport hanging in a pipeline is bad.

[2018-08-29 19:17] TitouanVanBelle commented on #94
Hi @maxelrod
Thanks for the report. You're right hanging in a pipeline is pretty bad. I think I fixed it in `94_xctesthtmlreport_hanging` could you give it a try and let me know if that fixes it. I also tried it by providing the command line a bundle that doesn't contain any tests and it seems to work.

Cheers

[2018-08-29 19:19] TitouanVanBelle commented on #93
Hi @ganjarpanji

No there is no plan to support bluebell, especially now that Xcode 10 provides a way to execute tests in parallel in the Simulator.

Cheers

[2018-08-29 19:19] #93 closed

[2018-08-29 19:29] TitouanVanBelle commented on #92
Hi @kenji21

Thanks for the report. I do see the need for this kind of feature but looking at the complexity of how to get this information I'm not going to have time in the near future.  I'd be happy to review the pull request if you try to take a crack at it.

Cheers

[2018-08-29 19:32] TitouanVanBelle commented on #86
@chrisballinger Any update on this?

[2018-08-29 19:39] TitouanVanBelle commented on #67
Might be nice indeed. Feel free to have a crack at it as I won't be able to look into this in the near future.

[2018-08-29 19:40] #54 closed

[2018-09-02 18:31] TitouanVanBelle commented on #83
@ripunjayasaran @algrubb
Could you guys build `xchtmlreport` from source on the branch `83_fix_use_absolutepaths` and see if that works for you?

[2018-09-06 00:16] rupeshbonda1985 opened #99 "Script is hanging when running the html report command on my Logs folder"
Generated Logs and placed in a folder. Now when I run the script it is hanging and not providing any result and the command used is as follows
/usr/local/bin/xchtmlreport -r /Users/jenkinsslave/workspace/Automation_iOS/Automation_test_build@2/MobiConnect/Logs
and then it displays XCTestHTMLReport 1.6.1 and nothing happens.

Please let me know for more information

[Logs.zip](https://github.com/Tit

[2018-09-06 09:13] TitouanVanBelle commented on #99
Hi @rupeshbonda1985
Thanks for the report. This issue seems to be similar to #94. Could you try to fix there and tell me if it fixes your problem.

[2018-09-08 05:28] ignazioc opened #100 "Any plan to support iOSSnapshotTestCase?"
Hi, We are using this tool and we really like it.
We also use iOSSnapshotTestCase and it would be great to see the failed snapshot also there.

Any plan to support?

[2018-09-10 13:34] kenji21 commented on #92
Just wrote a single script to gather these values:

[code]

using this shell command:

[code]

which give this output:

[code]

[2018-09-14 22:00] kdbertel commented on #86
The pull request in question is here: https://github.com/Homebrew/homebrew-core/pull/26977

It was rejected because the notoriety requirements are:
- 20+ forks
- 20+ watchers
- 50+ stars

[2018-09-17 15:14] kdbertel commented on #86
I don't suppose there's a way we could at least create a tap for this, until it meets the notoriety requirements? That would make it much easier to use with `Brewfile`.

[2018-09-26 22:56] BobbyRohweder opened #102 "After running 2 suites of tests on the same device, viewing the results in the same report is not supported"
Since tests were run on the same device in sequence, the identifier is the same in devices list on the left in the viewer

when trying to click on any test results, it does not update the viewer since the identifier is the same;
both have on `onclick="selectDevice('identifier', this);"` with identical values

[2018-10-08 14:03] clindsay commented on #90
@amleszk I encountered the same issue, and your suggestion helped me a ton. I also figured out how to resolve the issue of images not loading, by updating the command to: `System.setProperty("hudson.model.DirectoryBrowserSupport.CSP", "default-src 'self' 'unsafe-inline' 'unsafe-eval'; img-src 'self' data:;")`

Lastly, I figured out that you can have this run automatically on Jenkins startup by put

[2018-10-12 01:20] tbrand opened #103 "Invalid xml with unescaped tag"
I faced an error of invalid xml which cannot be parsed by unescaped tag `<>` like this.
[code]

The failed test looks like
[code]

I think [this line](https://github.com/TitouanVanBelle/XCTestHTMLReport/blob/develop/XCTestHTMLReport/XCTestHTMLReport/Classes/Models/JUnitReport.swift#L101) should be escaped?

Thanks

[2018-10-13 18:45] #40 closed

[2018-10-13 18:49] TitouanVanBelle commented on #100
Hi @ignazioc

No there is no plan to support this tools. But you can probably easily add the failed snapshot by adding an activity to you test report and adding an attachment to that activity

[2018-10-13 18:49] #100 closed

[2018-10-13 19:17] TitouanVanBelle commented on #102
Hi @BobbyRohweder

Thanks for the report. I fixed it on branch 102_running_twice_same_device. Can you check it out to see if that works for you. I'm not sure exactly how you run your tests and create the report so I'm not sure the solution will work.

Let me know

[2018-10-13 19:20] TitouanVanBelle commented on #103
Hi @tbrand

Thanks for the report. Could you upload a bundleResults I can work with to reproduce the issue and also the command you execute to generate the report
Thanks

[2018-10-13 22:01] kdbertel commented on #86
I've been trying to spread the word around as best I can. I'll keep trying, though! :)

[2018-10-14 14:18] amleszk opened #105 "Enhancement: Faster way to see all screenshots leading up to a failure"
Ofter when debugging UI test failures, the last 3-4 screenshots and steps are the most important thing to see. These can reveal that some button was not enabled, some network request failed or a screen was not visible.

Android has a tool called Spoon which does this screenshot time series well. See example here: https://youtu.be/ZrSAPsahEiU?t=640 and http://square.github.io/spoon/ - The screensho

[2018-10-16 08:07] tbrand commented on #103
Sorry it's production app thus I cannot post logs and commands. 😢

[2018-10-16 08:08] TitouanVanBelle commented on #103
What about reproducing the issue in a new project?

[2018-10-16 09:16] taisukeh commented on #103
It can be easily reproduced by this assertion.
[code]

[2018-10-27 08:55] #103 closed

[2018-10-28 15:53] TitouanVanBelle opened #109 "Display attachment name if available"

[2018-10-28 23:29] jinthagerman opened #110 "Performance issues"
Great tool, thanks for your work on this!

Looking to integrate XCTestHTMLReport into our workflow but noticed some considerable lag when opening index.html for our fairly extensive UI test suite. Takes roughly 15 seconds to become responsive on a late 2014 Macbook Pro in Safari and a bit better than that in Chrome.

I'm might look into this myself when I have time, but thought i'd post this in th

[2018-10-29 04:56] gangadharbonda commented on #99
@TitouanVanBelle
1) I downloaded the branch XCTestHTMLReport-94_xctesthtmlreport_hanging and ran the install.sh.
2) Now downloaded the file Logs.zip in the above comment and ran the command "xchtmlreport -r Logs"
Application
3) Observed terminal is hang

Please let me know if I need to follow differently

[2018-10-31 21:14] jinthagerman commented on #110
Looks like this is mainly due to large `logs-*.txt` files. Wonder if we can introduce paging for this or maybe even just load it on demand when the log tab is selected.

[2018-11-03 22:19] nfrydenholm opened #112 "Unknown failure produces invalid xml for junit report"
If the app e.g. crashes during a test, it produces some xml that causes junit reporting on e.g. Jenkins to fail.

An example from the xml output
[code]
That leads to errors parsing the report.junit file, as the `<unknown>` is not being terminated.

Same result using version 1.6.1 and HEAD.

I'm using Xcode 10, and will try to make a demo project that reproduces the error, so I can share the result

[2018-11-06 15:09] TitouanVanBelle commented on #112
Yes it will be available in 1.7.0 which is going to be released sometime this month.

[2018-11-06 15:13] TitouanVanBelle commented on #99
Works fine on my machine. I'm guessing you're still using the old version of xchtmlreport

Old version
[code]

New version
[code]

[2018-11-06 15:18] #112 closed

[2018-11-06 18:53] gangadharbonda commented on #99
@TitouanVanBelle
I tried to get the version on following branch "94_xctesthtmlreport_hanging" and install using brew and I still see the same issue. Below are the steps I followed. Let me know if I have to follow differently

brew reinstall https://raw.githubusercontent.com/TitouanVanBelle/XCTestHTMLReport/94_xctesthtmlreport_hanging/xchtmlreport.rb
################################################

[2018-11-09 05:23] repl-ullas-ml opened #113 "illegal hardware instruction xchtmlreport -r TestResults"
Get this error on macOS 10.14

I have been yearning for a tool like this for a while and this tool served me well. Very recently i bumped my mac os to 10.14, and the tool stopped working.

[2018-11-20 12:05] KSelvam commented on #83
Hi @TitouanVanBelle
I've installed the xchtmlreport using "83_fix_use_absolutepaths" branch. But still I'm unable to see the screen shots for devices except first one.

bash <(curl -s https://raw.githubusercontent.com/TitouanVanBelle/XCTestHTMLReport/83_fix_use_absolutepaths/install.sh)

[2018-12-03 01:34] quintuschen commented on #64
May I ask do we have any plans to make a fastlane plugin for xchtmlreport?

[2018-12-04 01:06] repl-ullas-ml commented on #113
@TitouanVanBelle Any idea what might be causing this? When it comes to viewing the test results from the CI your plugin is a saviour for us. With this issue, we have been facing some inconvenience. Help us. Thanks for such an awesome plugin

[2018-12-05 11:22] nfrydenholm commented on #112
@TitouanVanBelle any update on when 1.7.0 will be released? 😃

[2018-12-18 21:13] colincornaby opened #117 "Building XCTestHTMLReport fails if there is a space in the path to the project directory"
The line:
$SRCROOT/Scripts/createTemplates.sh

In the "Create Templates" build step does not allow for spaces in the path name.

[2018-12-20 19:51] nfrydenholm commented on #112
@TitouanVanBelle will there be a release coming out before Christmas/New Year? 🤞 🎅 🎆

[2019-01-03 23:36] repl-ullas-ml commented on #113
<img width="594" alt="screen shot 2019-01-03 at 4 34 52 pm" src="https://user-images.githubusercontent.com/11545334/50667284-c1e34c80-0f75-11e9-91a1-30cda3833922.png">

[2019-01-04 09:31] LeepengX commented on #113
my macOS is 10.14.1 now. Evrything is fine....

[2019-01-07 02:00] LeepengX opened #120 "May it have affected the test results？"

[2019-01-07 02:06] LeepengX commented on #120
**Assertion Failure:0:failed:Timed out after waiting 1.0s for KeyEventConpleted after sending event for 'q'.(0s).**
I never met this until I used XCTestHTMLResult in my XCUITest command.
Have you guys met this ?

[2019-01-07 03:08] LeepengX commented on #120
When type text to a secureTextField, I met this problem.
Sorry.
Will this technology affect the testing process, please？

[2019-01-22 06:50] nfrydenholm commented on #112
@TitouanVanBelle any news on when we can expect the next release?

[2019-02-11 06:29] gangadharbonda commented on #99
@TitouanVanBelle
I still see the issue after installing the latest version and below is the console output
xchtmlreport -r Logs -v
XCTestHTMLReport 1.6.1

Parsing Test Summaries
  ▸ Searching for action_TestSummaries.plist in Logs

Parsing summary
  ▸ Found summary at Logs/Test/action_TestSummaries.plist
  ▸ Parsing RunDestination
  ▸ Parsing TargetDevice
  ▸ Parsing TestSummary

[2019-03-05 21:53] #113 closed

[2019-03-07 15:54] sonic555gr commented on #64
This would be so helpful

[2019-03-31 16:42] TitouanVanBelle commented on #120
No this technology does not affect the testing process. It only creates an HTML reports based on the already existing test results.

[2019-03-31 16:43] #120 closed

[2019-04-02 13:48] #109 closed

[2019-04-02 13:48] #102 closed

[2019-04-02 13:48] #99 closed

[2019-04-02 13:48] #94 closed

[2019-04-02 13:48] #83 closed

[2019-04-03 14:09] Husseinovich opened #126 "Error accessing file, this might be due to fastlane's directory handling"

[2019-04-04 00:37] #126 closed

[2019-04-13 16:48] Sherlouk opened #127 "Embed Images in Report (Optional)"
Hey 👋

Part of our test report distribution makes it very difficult to load files relative to the report HTML itself.

Would you consider allowing a new flag (perhaps along the lines of `--encodeImages`) which would base64 encode any png/jpeg images directly into the report itself as apposed to requiring the entire report being uploaded?

A similar capability could also be added to txt/html attach

[2019-05-10 07:49] alexandre-g opened #128 "Showing wrong image if image fails to load"
Ran into this issue a couple of times and both times really threw me off.

Basically, if, for one reason or another, an image fails to load - the previously shown image is still showing, making you assume that that's still what's happening on screen.

Can see being improved by removing the image or using a placeholder.

Kudos for the tool, by the way!

[2019-05-31 11:32] cianiandreadev opened #129 "CodeCoverage report"
Hi,

Does XCTestHTMLReport support also HTML report generation for code coverage?
If yes, how?

[2019-06-07 10:51] Ashraf-Ali-aa opened #131 "Invalid xml Junit file"
Some times the tool produces incorrect XML file like `<unknown>` as a result the junit is not valid, could we escape `<>` arrows for the failure message

[code]

Error using XML validator
[code]

[2019-06-10 06:19] prakashsarav7 opened #132 "Creating report with multiple result bundle path, creates report with same test result multiple times"

[2019-06-10 08:11] prakashsarav7 opened #134 "Attachments from '1_Test/Attachments' are pointed by html file"
Attachments are copied from directory '1_Test/Attachments' to directory 'Attachments' while creating html report. But still the files from directory '1_Test/Attachments' are pointed in the html report

[2019-06-10 23:03] Avantjer opened #135 "WWDC 2019 video session "Testing in Xcode""
Hi TituanVanBelle...

I watched the recent WWDC 2019 video session "**Testing in Xcode**" and it appears that Xcode will now provide a report, like the one generated by XCTestHTMLReport, that can be opened in Xcode. One difference is that it's provided as JSON.

I've been using your XCTestHTMLReport and even parsing it with Beautiful Soup.
Thank you for providing it.

Thought you should be aware..

[2019-06-13 23:44] harsh-pcc commented on #64
@chrisballinger  Is this still under consideration?

[2019-06-20 14:20] Amzd opened #136 "Script hangs on `Assertion Failure: <unknown>:0:`"
Hangs on some results generated by fastlane and I can't figure out why. It's not the empty logs that was fixed a while ago.

The verbose log is not very detailed:

[code]
I don't mind it not being able to parse the file for some reason but right now it hangs and blocks the rest of the test flow.

One of the logs that crashes:
[test_result.zip](https://github.com/TitouanVanBelle/XCTestHTMLReport/fi

[2019-06-21 09:21] Amzd commented on #136
Ok so I figured out when it hangs. Some tests throw an assertion where it can't figure out what case the assertion came from (I think?) and that looks like this: `Assertion Failure: <unknown>:0:`

It happens on older devices for me but not on iOS 12.

[2019-06-21 09:23] Amzd commented on #136
I know this might be an issue with my tests but XCTestHTMLReport should still not hang.

[2019-07-17 08:49] cianiandreadev commented on #131
+1

[2019-07-22 09:22] FabienLydoire opened #137 "Xcode 11 support"
Hello !

Xcode 11 changes the format of the Test bundle files.
I know that Xcode 11 is able to re-open a Test bundle and display the content.
Nevertheless having an HTML version of the Test bundle is very handy.

Is there a plan to support the new format with XCTestHTMLReport ?

[2019-07-23 11:47] cianiandreadev commented on #131
In my case I figured out was a problem in one of my unit tests that was failing with an unknown reason.
This lead to a unparsable result for XCTestHTMLReport. Maybe this can be useful for others.

[2019-07-25 10:28] tangzzz-fan commented on #129
Hi, I wanna know too. though I use xccov to generate coverage report, I think it 's convenient to generate it in html report.

[2019-08-10 12:14] TitouanVanBelle commented on #64
Here it is. Can you guys test it out?
https://github.com/TitouanVanBelle/fastlane-plugin-xchtmlreport

@chrisballinger Thanks for the snippet

[2019-08-10 12:24] TitouanVanBelle commented on #137
Yes there is a plan to support. I just need to wait for Xcode 11 to finish downloading :)

[2019-08-10 12:53] TitouanVanBelle commented on #134
Attachments are not copied over to the Attachments folder by xchtmlreport. The result bundle is provided by Xcode like that.

[2019-08-10 12:53] #134 closed

[2019-08-10 13:01] TitouanVanBelle commented on #135
Hi @Avantjer. Thanks for the heads-up. I started watching that session but somehow never made it to the end. Good you tell me they updated the structure. I'll have a look and bring the necessary changes to xchtmlreport.

[2019-08-13 07:13] krin-san commented on #86
Repo now meet the requirements with 20 watchers. Can we re-open PR?

[2019-08-13 09:46] TitouanVanBelle commented on #132
Please provide an archive containing the different result bundle paths, and the command you're executing so I can reproduce. Otherwise I'll close this for lack of information.

[2019-08-13 09:52] TitouanVanBelle commented on #136
This issue has been fixed in 1.7.0. I've tried it on your test results and it seems to work. Closing

[2019-08-13 09:52] #136 closed

[2019-08-13 09:53] #117 closed

[2019-08-13 14:16] TitouanVanBelle commented on #131
@Ashraf-Ali-aa Can you provide a result bundle that reproduces the error. And also an expected result.

[2019-08-31 04:57] pradyhk commented on #64
@TitouanVanBelle  After adding gem 'fastlane-plugin-xchtmlreport' in plugin file and running below commands succesfully,
brew install https://raw.githubusercontent.com/TitouanVanBelle/XCTestHTMLReport/develop/xchtmlreport.rb
and
fastlane add_plugin xchtmlreport

I am getting this error : [!] xchtmlreport binary not installed! https://github.com/TitouanVanBelle/XCTestHTMLReport

[2019-09-03 07:27] IlyaMakarevich commented on #137
Hi! Did you finish downloading?

[2019-09-08 07:58] senthilvel-palanisamy-e1171 opened #139 "test methods are overridden when multiple TestResults folder given to generate the report"
Hi

we are having around 50 sanity test methods and we have split it into 3 execute shells in Jenkins
like the below

xcodebuild test -workspace myworkspace.xcworkspace -scheme myUITests -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone X,OS=12.4' -only-testing:(1-20 test methods) -resultBundlePath Testresult1

xcodebuild test -workspace myworkspace.xcworkspace -scheme myUITest

[2019-09-10 11:47] forceunwrap commented on #137
Any update on this?

[2019-09-11 14:14] FabienLydoire commented on #137
Xcode 11 GM has been released 10/9/2019.
@TitouanVanBelle Can you tell if you plan to update XCTestHTMLReport now that we can re-open an existing TestBundle in Xcode ?
Will this project be dropped ?

[2019-09-16 00:57] jreyesv commented on #137
Is the project going to be dropped? There are still use cases for having HTML Test reports. Not everyone has Xcode but almost everyone has a browser, to check results of CI/CD is very convenient.

Any updates on this?

[2019-09-17 17:59] ripunjayasaran commented on #137
@TitouanVanBelle : When running on XCode 11 with an iOS 13 simulator this is the error we get due to which the report fails to generate:
[code]
If you would need anything else from our end, then kindly let us know. It would be nice to get this fixed.

[2019-09-18 15:43] chrisballinger commented on #137
Perhaps this could be resolved by integrating with this other tool that parses the new Xcode 11 xcresult format: https://github.com/ChargePoint/xcparse

[2019-09-24 14:34] ripunjayasaran commented on #139
looking at the above commands, it seems that you are running all the tests on the same simulator (iPhone X) which could be why all your results are getting combined. You could create 2 clones of iPhone X and then run the tests or create separate simulators of different iPhones and that should resolve the issue for you.

[2019-09-27 10:45] kenji21 commented on #137
another solution could be to use https://github.com/davidahouse/XCResultKit and https://github.com/gcharita/XMLMapper to generate a junit xml

[2019-09-27 11:07] FabienLydoire commented on #137
Using https://github.com/fastlane-community/trainer here.

[2019-09-27 20:55] MattiasBurstrom commented on #137
I would love to see Xcode 11 support for this project!

[2019-10-22 05:09] #137 closed

[2019-10-22 11:47] asos-chrisblackmore opened #142 "Unable to brew install since Xcode 11 support (v2.0.0)"
`brew install https://raw.githubusercontent.com/TitouanVanBelle/XCTestHTMLReport/develop/xchtmlreport.rb` is now failing since https://github.com/TitouanVanBelle/XCTestHTMLReport/pull/141 was merged - it's expecting the `2.0.0` release to exist, but it hasn't been created yet (https://github.com/TitouanVanBelle/XCTestHTMLReport/releases).

Happy to assist to verify the fix!

[2019-10-22 14:34] chrisballinger commented on #142
@asos-chrisblackmore 2.0.0 has been published

[2019-10-22 14:47] sathyaNarayanQA commented on #142
I am still getting the below error message

`Error: An exception occurred within a child process:
  ChecksumMismatchError: SHA256 mismatch
Expected: 6e0e3c30331bb32bbf38ebd438c1ee3a168432c10ece0f0292c7fdbb72483e0c
  Actual: 4424d673d578e84e67fd96afa53a5bd3e80ec7acade65365a123af358c77b47e
 Archive: /Users/sathya.singh/Library/Caches/Homebrew/downloads/41e788a1388c05bb2f6c13680c4f49c93f6a3d5180d4ae5

[2019-10-22 14:54] chrisballinger commented on #142
Now we're blocked on https://github.com/TitouanVanBelle/XCTestHTMLReport/pull/144 getting approved from another maintainer. cc @TitouanVanBelle

[2019-10-22 14:59] asos-chrisblackmore commented on #142
Yep, getting the same issue @sathyaNarayanQA.

Since https://github.com/TitouanVanBelle/XCTestHTMLReport/pull/144 is now created, you could run `brew install https://raw.githubusercontent.com/TitouanVanBelle/XCTestHTMLReport/5d8644e0e5142172a5e4c756c1d17773d38c3f9e/xchtmlreport.rb` and it should work (pointing to the commit on that branch).

[2019-10-22 15:03] chrisballinger commented on #142
Alrighty, everything is now merged. All systems go?

[2019-10-22 15:43] sathyaNarayanQA commented on #142
Now the brew install is working fine with no issues.

Thanks for the update !!

[2019-10-22 15:52] #142 closed

[2019-10-22 16:03] asos-chrisblackmore commented on #142
👊

[2019-10-23 04:29] ripunjayasaran opened #145 "Logs are missing and scrolling is not working on the new 2.0 report"
When you try to run tests in parallel or a single test, then you will note that the 'Logs' tab in the report does not show the logs at all. Also, when running an entire suite, you will notice that the scrolling is broken until you click on the last visible test on the screen and only then the scroll bar appears on the top. It seems that we broke these two things when we merged changes for 2.0 repo

[2019-10-23 08:30] lotenn commented on #145
+1

[2019-10-23 15:20] chrisballinger commented on #145
Are you using Xcode 11?

[2019-10-24 13:50] sathyaNarayanQA commented on #145
+1 same problem for me as well

I am using xcode 11.1 and whatever ripunjayasaran  mentioned is happening.

Also seems like for failures the screenshots are not being displayed, it just shows a blank screen.

[2019-10-24 16:22] ripunjayasaran commented on #145
@chrisballinger : i am using xcode 11

[2019-10-28 16:00] aaron-koch-sxm opened #146 "Cannot specify name and location of output file"
Currently, the output of xchtmlreport -r /path/to/results/bundle always puts the output index.html file in the same location relative to the results bundle.  If I have a folder containing many bundles and I run xchtmlreport for each, the index.html file is overwritten each time and I am left with only one index.html file.

Please add an argument to allow us to specify the location of the output fi

[2019-10-29 09:51] yenchenhuang opened #147 "The logs are downloaded instead of displaying on the html report when opening the report on Jenkins."
Hi,

We run our test on Jenkins and the test logs will be downloaded automatically as soon as I open the html report on Jenkins. It shows all blank if switching to the Logs tab in the html report.

The job execute `xchtmlreport -r {XCRESULT}` to generate the html report and will archive the xcresult test output and the html report.

The issue didn't happen when running Xcode 10.1 and XCTestHTMLRe

[2019-10-29 20:41] ripunjayasaran commented on #147
yeah, this is definitely a dupe of #145

[2019-11-06 17:01] ripunjayasaran commented on #145
@sathyaNarayanQA : the failure screenshots are appearing correctly for me in the report.

[2019-11-07 23:05] Cyberbeni opened #149 "Add framework target"
It would be cool to also have this tool available as a framework.

[2019-11-12 20:51] eb-smith-affirm commented on #127
This would be amazing!

[2019-11-14 06:15] jcharr1 opened #150 "Generating report fails when running from a path with spaces in it"
Running xchtmlreport 2.0.0 in a directory that has spaces in it (both standalone and through the fastlane plugin) causes it to fail. For example:

[code]

If I copy the test_output folder to a path without spaces in it and try again, it works fine.

[2019-11-18 18:21] jordan-romeroporter-earnin opened #151 "Missing info plist file error."
I'm trying to use this tool with Fastlane and here's my scan command:
[code]
Here's the error that I'm receiving:

[code]

Why is this failing?

[2019-11-18 22:48] jordan-romeroporter-earnin commented on #150
This problem also seems to extend to project names with spaces in them. For example:
[code]

seems to fail as well

[2019-11-18 23:47] jcharr1 commented on #151
Try passing the full path to the result bundle instead of the folder the bundle is in.
[code]

[2019-11-18 23:49] jordan-romeroporter-earnin commented on #151
@jcharr1 I tried that, but it's giving me this error:

let's say the .test_result file is this:
[code]
[code]

[2019-11-18 23:51] jcharr1 commented on #151
@jordan-romeroporter-earnin Are there spaces in your path and/or project name? I made a ticket about this over here: #150

[2019-11-18 23:52] jordan-romeroporter-earnin commented on #151
Yes, @jcharr1 I commented on it

[2019-11-18 23:55] jcharr1 commented on #151
@jordan-romeroporter-earnin yeah, I tried escaping the spaces like that too, and it didn't work for me either. The only way I was able to get it to work is to remove all the spaces.

[2019-11-19 00:29] jordan-romeroporter-earnin commented on #151
@jcharr1 Even when I change the .test_result name with no spaces, I'm still getting the same error as before. Here's what I'm doing:
[code]

[2019-11-19 01:16] jordan-romeroporter-earnin commented on #150
Because my project name has spaces in it, I get this issue:

[code]

[2019-11-19 13:39] vimaljake opened #152 "Failed to find action_TestSummaries.plist"
XCTestHTMLReport 1.6.1
Error: Failed to find action_TestSummaries.plist in TestResults

Xcode 11 result bundle doesn't have action_TestSummaries.plist

[2019-11-19 13:53] kenji21 commented on #152
you should use version 2.x with Xcode 11

[2019-11-19 14:08] vimaljake commented on #152
Working now thank you

[2019-11-19 14:08] #152 closed

[2019-11-19 20:11] jordan-romeroporter-earnin commented on #150
Here's where I believe the code issue is - I'm not sure if replacing empty spaces with a backslash will work, but I'll fork and create a PR at some point today:

https://github.com/TitouanVanBelle/XCTestHTMLReport/blob/develop/Sources/XCTestHTMLReport/Classes/Models/Command.swift

[2019-11-19 21:21] jordan-romeroporter-earnin commented on #150
@jcharr1 Have you tried putting quotes around the path?

[2019-11-19 21:42] jcharr1 commented on #150
@jordan-romeroporter-earnin yes, I tried quotes, but it didn't help. Oddly, I get different errors if I pass the relative path vs the full path.

Relative (same error when not using quotes):
[code]

Full (terminal has full disk access)
[code]

[2019-11-19 22:30] jordan-romeroporter-earnin commented on #150
Yea you're right @jcharr1 , I wrote that before I even had the results lol. Last time I do that. I'll see if I can figure out a work around

[2019-11-20 00:02] jordan-romeroporter-earnin commented on #150
There are two issuesL:

1. How CommandLine parses the command arguments (using space as the delimiter
2. How ResultFile goes about its init:
[code]
It takes the "lastpathComponent" which ultimately becomes a incorrect string, due to the space. Any ideas on how to fix this?

[2019-11-20 00:10] jordan-romeroporter-earnin commented on #150
You would either need to pass in an encoded URL, then decode it, or ...some variation. I don't think anything in swift will do this out of the box :/

[2019-11-27 07:18] sneha-je opened #153 "Error when resultBundle path has spaces"
Ex: xchtmlreport -r "/Users/Spaces in Path/test result.xcresult"
When the above command is executed, the following error is seen
[code]

[2019-11-28 10:25] Sherlouk opened #154 "Title Case Test Names (Optional)"
Would be nice if there was a new flag which would make test names a bit more readable (especially when being shared with other team members).

`testSomethingHappened()` would become `Test Something Happened`

Special characters like _ and - would likely be removed/replaced with spaces so that `test_something_happened()` would also be come `Test Something Happened`

[2019-12-02 01:48] kwanhiuhong commented on #153
yeah i got the same issue as well.

[2019-12-05 10:51] Hsilgos opened #155 "Line breaks in results"
We connected gmock framework to XCTest and it represents error with line breaks and sometimes with call stack, for example:

We see such representation in xcode's log, in terminal and even in XCTestHTMLReport's log tab.
But by some reason not on main page. Main page doesn't represent line breaks and we see it like this:

Is there any way to represent the result on main page with line breaks as wel

[2019-12-15 19:36] clindsay commented on #150
@jordan-romeroporter-earnin did you have any luck figuring out how to fix this?

[2019-12-16 11:39] mbt-laurent-n commented on #129
Same here. Do we have any new from this?

[2019-12-30 09:37] FabienLydoire opened #156 "Failed tests : Failing lines should be red (2.0.0)"
Same as #84 for pre 2.0.0

On Xcode, when a test is failing, the text line is in red.
All the lines from the root of the test to the failing assert are in red.
It helps finding back which assert did fail, especially when we set the tests to continue after failure (continueAfterFailure = true).

Made a PR #89 but this does not solve the issue.

[2020-01-02 12:16] sachinvas opened #158 "Invalid number of tests"
The Sample App in here shows invalid number of test cases.

<img width="1438" alt="Screen Shot 2020-01-02 at 5 43 53 PM" src="https://user-images.githubusercontent.com/7145485/71666575-7382ac80-2d87-11ea-90e6-daf7e4cfa776.png">

I integrated this in my app, it also shows invalid number of total test cases.

<img width="1438" alt="Screen Shot 2020-01-02 at 5 45 30 PM" src="https://user-images.githu

[2020-01-04 12:04] IlyaMakarevich commented on #145
I have the same problem, after jenkins step **Archive the artifacts** screenshot disappear from index.html

[http://snpy.in/Lq4Y0x](url)

[2020-01-07 02:29] jordan-romeroporter-earnin opened #159 "How can I limit the number of screen shots?"
I'm using CI service and when trying to save the TestResult files to disk, I realized that it's quite large due to the number of screenshots. I don't need all of the screens shots, just the last 3-4 or so in order to fully understand where a test is failing. Any ideas on how I can accomplish this?

[2020-01-09 04:02] iOrangeTea commented on #152
@vimaljake Hello! I also have this problem.Please tell me how to resolve it.

[2020-01-15 04:27] githubxielijuan commented on #129
I also want to know  how to generate ode coverage html report.

[2020-01-15 16:38] ripunjayasaran opened #162 "report takes more than 10 minutes to generate when running tests in parallel"
When running the tests in parallel, if i try to generate the report using `xchtmlreport -r TestResults1 -r TestResults2`, it take atleast 5 min and in most cases north of 10 minutes for the report to get generated. I have around 100 test cases. This was not the case in the previous versions of the report, but it certainly takes a long time on the latest 2.0 version. cc: @chrisballinger , @TitouanV

[2020-01-17 04:53] SpeedyNassir opened #163 "[Minor issue- Installation]install.sh script is broken"
The `CURL` point to zip version which doesn't have the `BUILD_DIR`

Either remove the code related to `BUILD_DIR` or correct the Curl path

Error : ./install.sh: line 28: cd: XCTestHTMLReport-2.0.0: No such file or directory
branch : Develop

[2020-01-21 19:51] tedgonzalez commented on #150
+1

[2020-01-27 13:28] AhmedOsamaBarghash opened #164 "Creates a JUnit-style XML report"
Hi
I'm trying to create a JUnit report like `XCPretty` `-r junit` and based on the `Read Me` File XCTestHTMLReport create a JUnit report, there is no desecration on how to create one or if it is created automatically, where is located!!
I tried` xchtmlreport -r {path}/TestResults junit` but there was no results
please Help

[2020-01-27 14:10] AhmedOsamaBarghash commented on #62
Where is the JUnit XML output located !!

[2020-01-27 14:11] AhmedOsamaBarghash commented on #131
Where is the Junit XML file located!

[2020-01-29 09:37] AhmedOsamaBarghash commented on #164
Thank you @asnaith , yes I did try this it was in front of me all the time
Error: No value was passed for argument -r
Options:
    -h               Print usage and available options
    -v               Provide additional logs
  `  -j               Provide JUnit XML output`
    -r               Path to a result bundle (allows multiple)

The problem with me the location of the report. Junit but fou

[2020-01-29 09:37] #164 closed

[2020-01-29 20:37] plu commented on #151
Had the same issue, #165 properly fixes it for me.

[2020-01-30 11:02] ahmedeldeebfoodora commented on #142
Hello guys. I am trying to install 2.0.0 through bitrise using this curl, but it says cannot find. Am I missing something?

bash <(curl -s https://raw.githubusercontent.com/TitouanVanBelle/XCTestHTMLReport/develop/install.sh) '2.0.0'

[2020-01-30 13:46] ahmedeldeebfoodora commented on #163
I have the same issue when downloading 2.0.0

[2020-01-31 09:42] ahmedeldeebfoodora commented on #163
@TitouanVanBelle Is there a capacity to look into this? We are unable to install the plugin through our CI after upgrading to Xcode 11.

[2020-01-31 18:55] chrisballinger commented on #153
This should be resolved by #165

[2020-01-31 18:55] #153 closed

[2020-01-31 18:56] chrisballinger commented on #150
Resolved by #165

[2020-01-31 18:56] #150 closed

[2020-02-07 22:14] anuragmaheshwari opened #166 "xchtmlreport[10912:149218] *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Failed to set posix_spawn_file_actions for fd -1 at index 0 with errno 9'"
Any idea why it would throw exception while generating XCHTML report

<pre>[---------------------------------------------------
[03:46:00]: --- Step: Switch to ios generateTestReport lane ---
[03:46:00]: ---------------------------------------------------
[03:46:00]: Cruising over to lane 'ios generateTestReport' 🚖
[03:46:01]: Generate a test report using XCTestHTMLReport
[03:46:01]: -------------

[2020-02-18 11:02] YesVladess commented on #166
Same problem for me, but the error is thrown when generating a 150 cases report.
With 30 cases report works fine.

[2020-02-21 09:46] KrzysztofKupczyk commented on #166
The same for me, trying to generate report for suit build with 100 test cases

[2020-02-24 08:41] kopczyd commented on #166
+1
Can't generate a report with more than 100 test cases. Generating small packs work fine, but we don't have small packs in project

[2020-02-27 05:06] Kastet commented on #166
Same problem here. Has anyone found a solution?

[2020-02-27 12:31] krin-san commented on #166
The root of this problem goes deeper, from XCResultKit which starts `xcresulttool` to export a file: https://github.com/davidahouse/XCResultKit/blob/5896f470733c13d107fa7262a4be6d1dd443c5c0/Sources/XCResultKit/XCResultFile.swift#L107

The same crash `posix_spawn_file_actions for fd -1 at index 0 with errno 9` happened a LOT with docker because it was opening too many file descriptors without prope

[2020-02-27 12:53] davidahouse commented on #166
Looking at the stack trace it is having a problem in the `exportPayload` which is explicitly for pulling out an attachment into a temporary file. So the number of test cases shouldn't matter, but the number of attachments might. Can you confirm if the problem is happening for test runs with lots of attachments? Also, anyone willing to share their xcresult files so I can try locally to debug (or if

[2020-02-28 14:30] davidahouse commented on #166
I made a change to the `exportPayload` that might help this issue: https://github.com/davidahouse/XCResultKit/releases/tag/v0.5.6

However, it is still possible that something else is consuming these file descriptors and it was only showing XCResultKit in the stack trace since that is where it ran out. But my fix above should at least help. I'll setup a large project soon so I can test this case m

[2020-03-02 07:47] krin-san commented on #166
@davidahouse, thank you for your effort! Unfortunately I cannot share test results from the closed-source project, but I will try to use your branch with the same amount of devices we had last time.

[2020-03-02 10:21] krin-san commented on #166
@davidahouse, just tested your new release on 4 devices with 39 test cases = 156 test cases in total. Works flawlessly! Thank you very much for you help.

I will create a PR with a version update soon.

[2020-03-03 05:46] samarth220194 commented on #166
@krin-san Can you please notify when will this issue fix be released on production?

[2020-03-03 06:10] #166 closed

[2020-03-03 07:53] krin-san commented on #166
@samarth220194, sorry, but I'm not maintaining this repo and therefore cannot provide you with ERD ¯\_(ツ)_/¯

You could subscribe to release notifications with a "Watch" button on top of this or any repo page.

[2020-03-03 07:55] samarth220194 commented on #166
@krin-san thanks

[2020-03-17 10:25] samskiter commented on #146
Has the output file location changed?

We pass something like this `../tools/xchtmlreport -r ../reports/html` and then try and archive `../reports/html` in Jenkins. This always used to work, but at some point it stopped working and xchtmlreport started printing: "Report successfully created at ../reports/index.html"

Is this expected to generated the report one directory higher?

[2020-03-24 16:54] sprint84 opened #170 "Different report results on different machines"
I'm observing a different result when I run `xchtmlreport` on my local machine and on Jenkins. The binary is the same, installed via homebrew, and even if I download the `.xcresult` bundle from Jenkins and run `xchtmlreport` locally, it works as expected.
On Jenkins, `xchtmlreport` outputs 0 tests.

Local machine:
[code]
Jenkins:
[code]

Local machine result:
[code]

Jenkins result:
[code]

Any id

[2020-03-24 17:30] sprint84 commented on #170
Found a fix myself.
I downloaded latest `master` instead of `stable` and it worked.
[code]

Maybe it's time for a patch release.

[2020-04-05 13:45] zivz opened #171 "Test is marked as passed though it Fails"
MyTests.AssetsTests
00:01:35.653    testSomething_TimeoutFailure, failed - Did not get expected timeout error
00:01:35.653    /Users/user1/jenkins/workspace/MySDK/MySDKTests/AssetsTests.swift:184
00:01:35.653    ```
00:01:35.653              } else {
00:01:35.653                  XCTFail("Did not get expected timeout error")
00:01:35.653              }
00:01:35.653    ```

[2020-04-22 15:01] gokberkince commented on #147
Im also facing the issue too, logs downloading with .dms file instead of showing with html. Could you fix this?

[2020-04-27 23:22] violetb116 opened #173 "The report index.html opens another file when trying to view it."
I am integrating the reports generated using this plugin with Jenkins using HTML publisher.
When I try to view the html, it downloads an attachment which is actually a file from the `.xcresult`. It contains only the test scheme name in it.
I see the same issue on local as well, on local, it opens that file containing the scheme name from`.xcresult`.
Is anyone else seeing this issue? how can I reso

[2020-05-12 08:27] pschneider commented on #173
What you are seeing is probably related to #147 which is a dup of #145

[2020-05-14 08:26] gh0st2sh3ll commented on #163
Hey, I have the same problem. Any chance this will be fixed? Thanks!

[2020-06-19 19:38] gangadharbonda opened #175 "Reports generated is not identifying the skipped tests"
Currently, when I use the latest XCode 11.5.1 we have the option of generating Skipped tests. But our XCTestHTML report is not identifying it. So need help on this

[2020-06-22 08:12] krin-san commented on #166
After an extensive debugging performed for this issue again _(because I didn't realized I was not using `--HEAD` with `brew install`)_ I found how to prove this fix actually works.

When installing 2.0.0 tagged release, `xchtmlreport` leaks PIPE descriptors each time it was exporting a new screenshot. That can be observed with the following command:
[code]
and looks like that:
[code]
All pipes wit

[2020-06-24 18:45] nathan-149 opened #177 "Time Precision"
Right now, when I use it, it is rounding the seconds to the nearest whole second. Is there an option to change it to have more precision? (i.e. 0.012 seconds)

[2020-07-02 19:29] moatazeldebsy opened #178 "When we open the report a download window is displayed"
We are running our UI tests with `Bitrise` as a CI server and after that, we use the `XCTestHTML` report to create the index.html file then update the file to report.xcresult to `S3 bucket`, then displayed it as a static website.

But the issue that the when we open the report it displayed download window as attached

<img width="1271" alt="Screenshot 2020-07-02 at 21 20 44" src="https://user-imag

[2020-07-10 13:45] IliyanKafedzhiev commented on #178
I have the same issue when index.html is a remote file on Jenkins server.

[2020-07-15 06:26] Mikuu commented on #178
same issue here, when open the index.html report, it automatically download a file

[2020-07-18 17:25] yashwanth-l opened #179 "Screenshots not Visible on running UI Tests - Parallel Simulators"
### New Issue Checklist

- [x] Updated fastlane to the latest version
- [x] I read the [Contribution Guidelines](https://github.com/fastlane/fastlane/blob/master/CONTRIBUTING.md)
- [x] I read [docs.fastlane.tools](https://docs.fastlane.tools)
- [x] I searched for [existing GitHub issues](https://github.com/fastlane/fastlane/issues)

### Issue Description
Screenshots capture are coming as unknown w

[2020-07-18 17:28] yashwanth-l commented on #179
![image](https://user-images.githubusercontent.com/9096291/87858247-5a83b800-c8e1-11ea-82ed-6ab9dfbec3a1.png)

[2020-07-23 11:57] maciesielka commented on #179
I ran into a similar problem because I'm not archiving the xcresult contents to CI, but using the `-i` flag to inline the assets within the html report solved this issue nicely for me though. Opened a PR to add this option to the fastlane plugin https://github.com/TitouanVanBelle/fastlane-plugin-xchtmlreport/pull/8

[2020-08-24 06:51] orj opened #180 "HTML report is created beside xcresult and junit report is created inside xcresult"
It seems rather odd that the junit XML report is created inside the `.xcresult` bundle but the html is created beside the `.xcresult` bundle.

Is this intentional or an oversight?

[2020-08-25 14:20] nacho4d commented on #180
I noticed this too. I don't know is is oversight or intentional however I think xcresult should not be modified so junit report should be created in the same directory as html report.

- Fixing this might break some scripts that hardcoded junit report path but probably ok with just mentioning the change in release note or README, etc. Fixing the html might affect even more people since junit repor

[2020-09-09 04:03] liweiran10086 commented on #178
This is what I do in Pipeline to avoid this problem
`sh script: "sed -i \"\" \'/iframe id=\"logs-iframe\"/d\' index.html"`

[2020-09-09 08:35] moatazeldebsy commented on #178
@liweiran10086 this after generating the report, right?

[2020-09-10 21:09] albertodebortoli opened #182 "Support for brew tap: add formula to the homebrew-xctesthtmlreport repository"
According to https://docs.brew.sh/Taps, could you please add the formula (https://github.com/TitouanVanBelle/XCTestHTMLReport/blob/develop/xchtmlreport.rb) to your already existing repo https://github.com/TitouanVanBelle/homebrew-xctesthtmlreport?

Brew 2.5.0 started failing with
[code]

Would also be nice to update the installation instructions in the README:

[code]

[2020-09-14 14:39] moatazeldebsy commented on #178
I got this error @liweiran10086 `sed: 1: "'iframe": invalid command code '`

[2020-09-14 17:18] ChiWhiteSox56 commented on #182
I encountered this too. As a workaround, I'm installing with curl until the Brew issue is fixed.

[2020-09-15 00:29] triztian commented on #182
I'm running into the same issue:

[code]

[2020-09-17 09:26] ryanpato commented on #127
Also interested in seeing this!

[2020-09-20 15:59] liweiran10086 commented on #178
@moatazeldebsy
The code I attached is used in Pipeline,
if you want to execute the code directly in terminal, use this
`sed -i "" '/iframe id="logs-iframe"/d' index.html`

This command is to delete the lines contains `iframe id="logs-iframe"`
![image](https://user-images.githubusercontent.com/44474610/93715645-1e98f780-fb9d-11ea-9f78-5599e44f218e.png)

[2020-09-20 20:28] #178 closed

[2020-09-24 09:46] bikee1235 opened #183 "xchtmlreport is not exiting"
steev-Mac:rid steev$ xchtmlreport1 -r report/testreport.xcresult
XCTestHTMLReport 2.0.0

nfs server 172.16.50.15:/nfs/raid-data: lockd not responding
nfs server 172.16.50.15:/nfs/raid-data: lockd not responding
nfs server 172.16.50.15:/nfs/raid-data: lockd not responding

in case we are passing xcresult  file  which is present in nfs server

In that case, it's not responding  and not exiting

This

[2020-09-24 11:37] ratkins opened #184 "Special characters in scheme/test output names causing problems"
The `.xcresult` directory is, by default, named for the scheme executed. Our scheme names used to have parenthesis characters in them, but they appeared to be being interpreted by something inside XCTestHTMLReport as delineating regex capture groups and causing an error. I changed the scheme names from `Foo (Bar)` to `Foo - Bar`, and now the `-` character seems to be causing an issue.

I believe I

[2020-09-24 13:15] ratkins commented on #184
(This may indeed be fixed by #165 but that was merged after 2.0.0 was cut and the install instructions don't detail a way of installing from the current master.)

[2020-09-25 00:47] nacho4d commented on #184
I would like to look into this.

[2020-09-25 07:23] ratkins commented on #184
Please, and I’m happy to test it again. I think the most important thing is to cut another release, as right now there’s no way for me to install the HEAD version into the VM in our CI pipeline to see if the existing fixes for spaces in path names help us.

[2020-09-28 03:27] bikee1235 commented on #183
Hi

Any idea on this issue is this related to NFS or something else.

[2020-09-30 00:55] nacho4d commented on #183
I need to make some kind of NFS server. Then will be able to test this. Sorry, but it might take some time to do all this.

I think xchtmlreport is just using standard swift APIs to access files. Maybe problem inside swift library? If that is the case it will not be easy to solve this.

In the short term I would suggest to move the file from the mounted directory to a local directory and then exec

[2020-10-02 08:27] bikee1235 opened #185 "Time is not showing properly in html report"
Hi

I did a little comparison in xcode report and index.html report

The consolidated time is showing proper

but in case of time taken in  performing particular action is showing round time or some time it's not showing proper

For reference, I am attaching two snapshots one is of the

HTML report and another one is of the Xcode report

Html Report
![Screen Shot 2020-10-02 at 1 49 07 PM](https://

[2020-10-02 15:38] nacho4d commented on #159
After long time... I think there is no reliable way of doing this from xchtmlreport (or any library like this).
Only developer knows about what screenshots are important to correctly diagnosticate failures. (Not always the last screenshot is the one that is bad nor the origin of the failure)

I guess you would need to create some logic to attach screenshots only when test failed. You could create

[2020-10-05 09:07] bikee1235 commented on #185
Hi

Anyone has seen the same issue.

[2020-10-07 11:55] deepjyot commented on #166
I am also facing this crash: 'Failed to set posix_spawn_file_actions for fd -1 at index 1 with errno 9'
Pl help

[2020-10-09 05:32] bikee1235 commented on #185
This is a very severe issue in terms of performance checking how much time is taking in doing certain actions.

From where this is belonging is this related to swift API or somethings else.

[2020-10-09 14:49] yakimant opened #186 "Escape testcase name in junit report"
After switch from xcpretty to XCTestHTMLReport, we have symbols not escaped in testcase names:

xcpretty:
[code]

[code]

It causes issues for Teamcity junit xml parser for example: `The reference to entity "R_FeedbackWith_Email" must end with the ';' delimiter.`

[2020-10-10 13:58] nacho4d commented on #186
@yakimant
Hello, I have realized of this in the past. I thought it was trivial to reproduce and fix however I cannot define a function like yours. It leads to the following compile error to me.
<img width="744" alt="Screen Shot 2020-10-10 at 22 56 10" src="https://user-images.githubusercontent.com/111651/95656815-ccb81180-0b4b-11eb-8b95-ff4ce67827ef.png">

Could you provide the specific function d

[2020-10-12 10:54] yakimant commented on #186
@nacho4d, we are generating the test name in runtime.

We will fix the name generation not to have '&', but maybe it's still a good idea to do escaping.

[2020-10-13 19:28] triztian opened #187 "XCHTML Error on Xcode 12 test result bundles"
Using version 1.6.1 I'm getting the following error when trying to produce a report from a test result bundle using Xcode 12

[code]

Happy to provide any more details.

[2020-10-14 10:47] yakimant commented on #186
On more case:

XCTestHTMLReport:
[code]

xcpretty:
[code]

[2020-10-15 01:31] mime29 commented on #187
We are facing the same problem here. I could say that it is an urgent matter

[2020-10-15 02:45] triztian commented on #187
Version `2.0.0` seems to be able to create the report out of Xcode 12 result bundles, if you're using the `bash` based installation outlined in the readme, i.e.:

[code]

It _seems_ that that script defaults to `1.6.1`, however you can specify the version by adding it to the end so to install `2.0.0` do the following:

[code]

After using that version I no longer see the error.

[2020-10-15 06:12] bikee1235 opened #188 "In case of Execution interrupted in Mid HTML Report is not generating"
Hi
In the case of execution Stop in mid

we are not getting partial  reports

I stop execution after running 6 test case out of 12

I am able to open in Xcode and  with 6 test case

xctest result
![Screen Shot 2020-10-15 at 10 44 42 AM](https://user-images.githubusercontent.com/23609848/96083663-413bd900-0edb-11eb-924c-001e27f8618c.png)

html result
![Screen Shot 2020-10-15 at 11 41 38 AM](https:/

[2020-10-16 04:23] SatoTakeshiX commented on #187
thank you @triztian.
I use the version 2.0.0 and gone the error of `action_TestSummaries.plist`.
But another error occurs when I run `xchtmlreport -r report.xcresult`.

[code]

To solve the error, I read the issues and tried to use `brew install --HEAD`.
https://github.com/TitouanVanBelle/XCTestHTMLReport/issues/166

but `brew install --HEAD` is not available due to the below issue.

https://githu

[2020-10-16 08:52] SatoTakeshiX commented on #187
I found the workaround to this problem.
`brew install --HEAD --build-from-source` works fine for me.

[code]

Related page
https://github.com/TitouanVanBelle/XCTestHTMLReport/issues/182#issuecomment-709771775

[2020-10-29 11:32] ignaciom6 commented on #179
@maciesielka I am having the same problem and even though I added the `-i` flag to the `xchtmlreport` command, I still can’t see the image properly when accessing to index.html as a GitLab CI artifact. How do you exactly use the `-i` flag?
<img width="1358" alt="Screenshot 2020-10-29 at 09 49 06" src="https://user-images.githubusercontent.com/18405055/97562849-94854f80-19e2-11eb-86cf-ea9937956369.

[2020-10-29 12:04] Kristijan22 commented on #179
The PR for that option is still open, you'll have to wait until it's merged or fork it as @maciesielka did.

[2020-10-29 12:41] maciesielka commented on #179
@ignaciom6: @Kristijan22 is correct that you'll have to wait until that PR is merged if you want to use the inlinable assets option _from the Fastlane action_, but the tool itself already supports this option. I think you should be able to construct the call to the tool using [the Fastlane sh action](https://docs.fastlane.tools/actions/sh/) and append the `-i` option manually.

[2020-10-29 13:01] ignaciom6 commented on #179
Thanks to both of you for your quick reply! @maciesielka, could you please share with me a quick example on how to construct the call? Sorry I ask, this is my first time doing all of this things.

[2020-10-29 13:09] maciesielka commented on #179
[sh](https://docs.fastlane.tools/actions/sh/) is just a tool for constructing a shell command. Based on your logs, you might want to do something like this:
[code]
I'm not exactly sure the context from which that command is run, so it's possible some of the paths to your binary and/or results need to be updated in some way.

[2020-10-29 13:21] ignaciom6 commented on #179
Ah, sorry for not explaining the context correctly. I am running the script from .gitlab-ci.yml file in a GitLab runner. I have something like this:
[code]
If I run `xcodebuild test` and then `xchtmlreport` locally, the images are shown in the report. But when I try to access the artifact (index.html) from GitLab, the images are not shown (as you can see in the attachment of my first comment)

[2020-10-29 13:39] maciesielka commented on #179
i see, and you mentioned that making the following update didn't work?
[code]

[2020-10-29 13:41] ignaciom6 commented on #179
Exactly! Unfortunately it didn't work

[2020-10-29 13:46] maciesielka commented on #179
https://github.com/TitouanVanBelle/XCTestHTMLReport/compare/2.0.0...develop

Looks like the [inlining feature](https://github.com/TitouanVanBelle/XCTestHTMLReport/pull/148) of the tool isn't in the most recent tagged release. You'd need to be pointing at master, a specific commit, or a tag hosted on another fork like mentioned [here](https://github.com/TitouanVanBelle/XCTestHTMLReport/pull/148#iss

[2020-10-29 13:57] ignaciom6 commented on #179
Will try then with the fork as you mention! Thank you very much again for your help and time!!

[2020-10-30 10:42] ignaciom6 commented on #179
@maciesielka just for you to know, it worked like a charm!

[2020-11-04 18:35] chrisballinger opened #190 "Homebrew HEAD installation fails "Calling Non-checksummed download""
[code]

For more information: https://github.com/TitouanVanBelle/XCTestHTMLReport/issues/182#issuecomment-709771775

Workaround:

[code]

Longer term it would be good to set up a tap as referenced in #182

[2020-11-05 06:03] kenji21 commented on #190
I also noticed that version is still 2.0.0 after running workaround commands

[2020-11-05 17:21] chrisballinger commented on #190
@kenji21 The version printed out on the console is still `2.0.0` until #189 is merged

[2020-11-11 10:06] robertodias180 opened #191 "Version 2.0.1 is duplicating images for me"
Hello,

since I updated to V 2.0.1 to be able to use the inline assets. The issue that I got is having the images for each failing test outside (and inside also) the failing test
![Screenshot 2020-11-11 at 10 04 52](https://user-images.githubusercontent.com/6941489/98798148-0e630300-23fd-11eb-808e-e7484b644315.png)

[2020-11-18 08:04] simon-bertlin commented on #191
I have the same issue on 2.0.1

[2020-11-23 02:55] harikrishnanpk opened #192 "Missing xchtmlreport-2.1.0.zip in latest release"
@chrisballinger The executable file is missing in 2.1.0 release please update that

[2020-11-27 07:36] #192 closed

[2020-12-03 19:49] yashwanth-l commented on #179
Just to confirm it works in Version `2.1.0` ?

[2020-12-03 19:59] maciesielka commented on #179
Looks like it's in there https://github.com/TitouanVanBelle/XCTestHTMLReport/compare/2.0.0...2.1.0

[2020-12-08 01:48] pm-komal-jain opened #193 "Asset (xchtmlreport-2.1.0.zip) for release 2.1.0 is missing on releases page."
Bitrise has a step "Generate Xcode test HTML/JUnit report"  to generate HTML reports.
The script tries to download latest zip using path - `https://github.com/TitouanVanBelle/XCTestHTMLReport/releases/download/2.1.0/xchtmlreport-2.1.0.zip`

However, for version 2.1.0  this asset is missing in **releases** section. For other releases aka 2.0.0 and below this asset is present.
I could have used lowe

[2020-12-11 09:09] wiralegawa commented on #191
have same issue on 2.1.0

[2021-01-04 04:27] wiralegawa commented on #191
hi @TitouanVanBelle, this is new feature or not ?
screenshoot appeared(listed) on each failed test report

[2021-01-17 16:20] nacho4d commented on #149
After a long time, this is possible.

In SPM, XCTestHtmlReport now has two targets:
- XCTestHtmlReport: The usual binary/runnable target
- XCTestHtmlReportCore: Library target, we use this for unit tests. It could be used as a framework too.

I am closing this since I think request has been fulfilled. If I am missing something please reopen or create a new issue.

[2021-01-17 16:20] #149 closed

[2021-01-17 16:50] nacho4d commented on #131
This has been previously fixed in this commit: https://github.com/TitouanVanBelle/XCTestHTMLReport/commit/92ab70381804a355541ce5787bca02f65596a645

Also in this MR https://github.com/TitouanVanBelle/XCTestHTMLReport/pull/196 tests have been added so this problem should not happen for XMLs anymore.

[2021-01-17 16:50] #131 closed

[2021-01-17 17:13] nacho4d commented on #186
Fixed in https://github.com/TitouanVanBelle/XCTestHTMLReport/pull/196

[2021-01-19 01:14] #186 closed

[2021-01-25 15:51] eugenebiryukov commented on #193
I tried to install it through bash and it got me the unzip error. I checked the archive and found that its empty.

[2021-02-12 19:25] simdani commented on #145
@IlyaMakarevich Facing the same issue also :/ Did you manage to workaround it?

[2021-02-12 19:29] IlyaMakarevich commented on #145
problem was fixed after running script on jenkins

System.setProperty("hudson.model.DirectoryBrowserSupport.CSP", "")

[2021-02-18 09:43] jorogr opened #197 "Not extracting screenshots from Xcode 12.3 xcresult bundle"
The tool is not exporting the screenshots from the xcresult bundle generated by Xcode 12.3 in the HTML report. The report is generated without any errors but the screenshots are missing at the end. If I directly open the xcresult bundle with Xcode I can clearly see that the screenshots are there but are not exported by xchtmlreport tool in the HTML report.

P.S. Screenshots are successfully extrac

[2021-02-22 15:41] krin-san commented on #197
Same issue with Xcode 12.4. Tried both on 2.0.0 (163784c) and 2.1.0 (965a4c8), with `-i` parameter (#179) and without it.

Fun fact: line shows that there's an attachment and the size of `index.html` file leave no doubt there are tons of screenshots stored inside, but the "Screenshot 👁" list-item doesn't appear.

<img width="467" alt="Screenshot 2021-02-22 at 16 13 21" src="https://user-images.git

[2021-02-22 22:38] hejhj commented on #197
Have the same problem.
My issue only happens on real devices. Simulator test reports are good.
xcode 12.4

[2021-02-23 00:06] hejhj commented on #197
I will create a PR to fix

[2021-02-23 00:16] hejhj commented on #197
@TitouanVanBelle fixed my screenshot issue here:
https://github.com/TitouanVanBelle/XCTestHTMLReport/pull/199

[2021-02-25 14:01] nonec commented on #90
Maybe defining a "Resource Root URL" is also a solution for people who cannot or don't want to disable CSP on their Jenkins. See: https://www.jenkins.io/doc/book/system-administration/security/configuring-content-security-policy/

[2021-02-26 10:03] nonec commented on #145
Had the problem locally as well and didn't want to change CSP.

[2021-03-01 13:27] samarth220194 commented on #187
In my case for Xcode 12 and iOS 14.4, when I run fewer Integration tests, then there is no such error
`xchtmlreport[12106:131884] *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Failed to set posix_spawn_file_actions for fd -1 at index 0 with errno 9'`

But in case I run the whole test suite with 50 tests, then the above error comes. and the plan fails to

[2021-03-13 17:23] amit-punjabi commented on #197
@hejhj I was facing the same screenshot issue. I pulled the latest code with your changes, getting the below error now:
[code]

[2021-03-13 19:43] hejhj commented on #197
You're still using the old app. Build again and replace 'XCTestHTMLReport 1.6.1'

[2021-03-14 18:36] amit-punjabi commented on #197
@hejhj The `2.1.0` version was throwing the version hence tried with `1.6.1`
[code]
Are you able to reproduce this?

[2021-03-15 10:05] krin-san commented on #197
I think I found an easier way of dealing with HEIC screenshots without waiting for browsers to natively support it by converting xcresult HEIC attachments to JPEG in place before running xchtmlresult to generate report file:
[code]

[2021-04-01 04:00] feliciaamanda opened #202 "Not inline screenshot when using image compression -z"
Hi guys, I just wonder to use image compression (-z) to reduce my report file size, but after implement this, screenshot not shown in CI report attachment. But I can't also use 2 BlockArguments in same time (-i and -z). Can I still reduce image size and inline it too? Thankyou.

[2021-04-09 03:14] anuragmaheshwari commented on #197
I tried above script but the screenshots are still missing in HTML report.

[2021-04-12 09:33] zeuge1983 commented on #152
But how to install 2.x version? On the page it says to run command
bash <(curl -s https://raw.githubusercontent.com/TitouanVanBelle/XCTestHTMLReport/master/install.sh)
to install latest version which installs 1.6.1

But how to install 2.1 version?
I found this page
https://swiftpackageregistry.com/TitouanVanBelle/XCTestHTMLReport
but how to install it with command
.Package(url: "https://github.com

[2021-04-12 13:41] krin-san commented on #197
@anuragmaheshwari, let's compare our environments. I have the latest `HEAD-3b54dfb` version installed with `--HEAD` parameter. You can check yours with `brew info xchtmlreport`.

If they match, please check if you see any conversion output logs by running `convert` with `-verbose` flag like that:
[code]
I see the following:
[code]
In report generated from resulting `xcresult` I see all the screens

[2021-04-16 11:05] jorogr commented on #197
@krin-san Yeap, this solution seems to be working!
First converting the images with
`(file data* | grep 'HEIF Image' || echo '') | cut -f1 -d":" | time xargs -n 1 -P 4 -I {} convert -verbose {} -quality 50% jpeg:{}`
and then generate the report with the tool built from `3b54dfb`

[2021-04-19 19:47] anuragmaheshwari commented on #197
nevermind, its working for me with the latest binary `3b54dfb` but do you see screenshots being bit unorganized in HTML report?

[2021-04-20 07:52] krin-san commented on #197
@anuragmaheshwari it doesn't generate a new bundle but updates images in the current one. For the purpose of testing I kept making a copy from original bundle with HEIF images and run script on it.

Unorganized? I know what you mean. The images you see above failed tests in the report (even without revealing test steps) is a new "Screenshot Flow" feature. See more on that in #168. I was in doubt i

[2021-04-21 16:01] tschob commented on #193
The bash install script also failed for me due to the unzip error

[2021-05-02 03:35] SatoTakeshiX opened #203 "Broken image link using -d option when merged xcresults by xcrun"
When merged xcresult by xcrun and using -d option, XCTestHTMLReport output broken image links.

[code]

# The Reproduction Steps

I ran the test on two iOS devices.iPhone 8 iOS 14.4 and iPod touch iOS 14.4.

[code]

I named the xcresult of iPhone 8 is **ResultBundle_iphone8.xcresult**, and  iPod touch is **ResultBundle_iPodtouch.xcresult**.

Then I merged the two xcresults with xcrun.

[code]

The

[2021-05-17 20:20] leahmeza opened #205 "Provide a way to censor credentials in report if wanted"
I utilize the slack api to post our html reports generated by our projects to slack channels. However, it is a security concern since the username and password of test accounts are exposed.

Is there a way/become a way to censor the string credentials, especially in "set up" steps?

[2021-05-27 10:54] Ricardo1980 opened #207 "Problem installing 2.1.0, but not 2.0.0"
Hello,

Thanks a lot for this tool.
I have a small issue and maybe you can help me.

This:
`bash <(curl -s https://raw.githubusercontent.com/TitouanVanBelle/XCTestHTMLReport/master/install.sh) '2.1.0'`
Returns:
[code]

But this:
`bash <(curl -s https://raw.githubusercontent.com/TitouanVanBelle/XCTestHTMLReport/master/install.sh) '2.0.0'`
Returns:
[code]

So, do you know the reason?
Thanks a lot!

[2021-06-01 10:32] Ricardo1980 commented on #207
Same than
https://github.com/TitouanVanBelle/XCTestHTMLReport/issues/193

[2021-06-01 10:50] #207 closed

[2021-06-01 11:04] Ricardo1980 commented on #193
The only solution I found is to compile it from the sources, so we can generate version 2.1.0

If you can't, here you have it:
[xchtmlreport.zip](https://github.com/TitouanVanBelle/XCTestHTMLReport/files/6575685/xchtmlreport.zip)

[2021-06-02 17:59] amit-punjabi opened #208 "XCode 12.5 logs not loading"
I was able to see the logs as expected with XCode 12.3.

However, recently upgraded my XCode to version 12.5 and since then unable to see any logs with XCTestHTMLReport v2.1.
<img width="1791" alt="ReportLogsNotLoading" src="https://user-images.githubusercontent.com/26772309/120529194-d99ab580-c3f9-11eb-97cc-c27c77e71630.png">

Is anyone else also facing a similar issue?

[2021-06-08 07:06] jacketti commented on #208
Yes me too!

[2021-06-09 21:53] D3icidal commented on #208
Same here, but only for UI tests. The -j junit output is empty too
Unit tests work fine for html and junit for me.

[2021-06-11 16:51] githubist16 commented on #208
yep same here

[2021-06-15 08:34] vaijeyanthi-qa commented on #64
@TitouanVanBelle Is there any update on this? I still see the same problem as @pradyhk

[2021-07-01 04:29] IcyW commented on #208
same here

[2021-07-07 22:14] anuragmaheshwari commented on #208
@IcyW Just switching to XCTestHTMLReport 2.0.0 solved the problem?

[2021-07-08 08:17] IcyW commented on #208
For me, yes.

[2021-07-08 14:49] anuragmaheshwari commented on #208
@IcyW do you mind sharing the binary that's working for you? Just to confirm its working for you on Xcode 12.5?

[2021-07-08 20:50] beulahgunasekar-earnin commented on #208
This doesn't work even with XCTestHTMLReport 2.0.0. We are using Xcode 12.5.1 and we run tests from xctesplans

[2021-07-15 09:40] chemise commented on #208
I faced the same problem.
In my case the .testPlan files contained some "selectedTests" (open as source code) it create trouble to generate HTML report.
I used "skippedTests" instead of "selected tests".
It's not a perfect solution, it's a restrictive one but it's working!

I think the problem comes from XCTestKit not especially from XCTestHTMLReport

[2021-07-15 16:15] anuragmaheshwari commented on #208
I wonder what other test reporting tools are available in the market? There are few that I found are not being maintained but nothing comes as close to this tool. This xchtml tool is really handy but sad to see that this is not being maintained.

[2021-07-17 03:00] nacho4d commented on #147
Fix Pull Request https://github.com/TitouanVanBelle/XCTestHTMLReport/pull/201 has been merged. I will close this issue. If problem persists please reopen :)

[2021-07-17 03:00] #147 closed

[2021-07-17 03:00] nacho4d commented on #173
Fix Pull Request https://github.com/TitouanVanBelle/XCTestHTMLReport/pull/201 has been merged. I will close this issue. If problem persists please reopen :)

[2021-07-17 03:00] #173 closed

[2021-07-17 18:10] nacho4d commented on #208
I have merged this old fix which solved this https://github.com/TitouanVanBelle/XCTestHTMLReport/pull/201

Now we need a new release. :)

(If you need a work-around until release is done you can use the `-i` option which will load the contents into the HTML from the start. It will make the HTML bigger since it does not read logs on demand. It loads everything from the start.)

@TitouanVanBelle Can

[2021-07-17 18:13] nacho4d commented on #208
This issue is about tests plans logs. I got confused about normal logs. Sorry this is not fixed yet.

[2021-07-19 02:33] nacho4d commented on #205
I believe that censoring sensitive information is out of scope of this tool because of these reasons:

- If you have user/passwords in your logs (in xcresults file) that is also a security breach so it should be addressed before logging that information. Please consider using OSLog with new private and public modifiers  https://developer.apple.com/forums/thread/118819

- Same principle applies for

[2021-07-19 02:33] #205 closed

[2021-08-26 13:14] nacho4d opened #210 "How about making XCTestHTMLReport an organization?"
Hi,

I use this incredible useful tool and I really like it! Yeah it has some bugs and things that can improved so I try to submit pull requests whenever I can... However I have noticed that this repository is becoming a bit unmaintained and pull requests take various weeks or even months to get merged.

@TitouanVanBelle Have you considered making this repository an Organization? I would really li

[2021-09-04 10:42] TitouanVanBelle commented on #210
Hi @nacho4d,

I'm all for giving this repository to the community. What do you mean exactly with making this repository an organization? Should I create an organization and move this repository's ownership to the organisation?

If you feel like it you can start doing this and I'll transfer the ownership to the newly created organisation.

What do you think?

[2021-09-12 01:41] nacho4d commented on #210
@TitouanVanBelle

Thank you for all the support!

Yes.

I have created this organization: https://github.com/XCTestHTMLReport
If you are OK you can move this repository to the new organization.

I have invited you as owner and If you are ok we can invite more and more members and collaborators.

I have tested with a toy repo and another toy organization and GitHub will redirect all pull/push comma

[2021-09-16 01:57] nickgarkusha commented on #208
@anuragmaheshwari

I use [xcresults](https://github.com/eroshenkoam/xcresults) to export from Xcode to Allure2 report for tvOS UITests running on CircleCi:
<img width="2556" alt="Screen Shot 2021-09-15 at 6 18 13 PM" src="https://user-images.githubusercontent.com/56781413/133536509-99f5642f-6a4d-409c-9a25-de233d382bd4.png">
----

Confirm this issue is resolved on the latest commit in the `develop`

[2021-09-19 22:30] tylervick commented on #210
Echoing huge support for this change - I was already in progress creating a fork with CD since we often see breakages with new versions of Xcode. I'm happy to make a PR for this new org - we'll just need an admin to provide a couple secrets for code signing.

[2021-09-20 09:02] TitouanVanBelle commented on #210
Hey @nacho4d,

Thanks for taking care of this. Could you resend the invitation to the
organization. It expired after 7 days and is not valid anymore. I'll take a
look at it this today or later this week.

Cheers

Le lun. 20 sept. 2021 à 00:30, Tyler Vick ***@***.***> a
écrit :

[2021-09-21 17:39] arielelkin opened #211 "installation error when installing via brew: Invalid usage: Non-checksummed download of xchtmlreport"
Installation fails when following [the brew installation instructions](https://github.com/TitouanVanBelle/XCTestHTMLReport#homebrew).

[code]

Using Homebrew 3.2.13
macOS 11.4

[2021-09-22 14:54] nacho4d commented on #210
@TitouanVanBelle I just send it now. I hope you can see it this time :)

[2021-09-22 15:13] TitouanVanBelle commented on #210
Yes thank you. Ownership has been transferred

[2021-09-23 01:47] nacho4d commented on #210
@TitouanVanBelle Wow! It has been done! Thank you for all the effort @TitouanVanBelle !
I will close this issue now :)

[2021-09-23 01:47] #210 closed

[2021-09-25 17:41] nacho4d commented on #211
@arielelkin
[Brew tap repository](https://github.com/XCTestHTMLReport/homebrew-xchtmlreport) is new now it works!. README has been updated to reflect the change. Also, if you use [Mint](https://github.com/yonaskolb/Mint) it is even easier...

I am closing this issue since I think it is already fixed. If you have problems reopen please :)

[2021-09-25 17:41] #211 closed

[2021-09-25 17:44] nacho4d commented on #193
[Brew tap repository](https://github.com/XCTestHTMLReport/homebrew-xchtmlreport) is new and now brew installation works without problems!. README has been updated to reflect the change. Also, if you use [Mint](https://github.com/yonaskolb/Mint) it is even easier...

[2021-09-25 17:48] nacho4d commented on #190
@chrisballinger Thank you for pointing me into the right direction.

[Brew tap repository](https://github.com/XCTestHTMLReport/homebrew-xchtmlreport) is new it works now!. README has been updated to reflect the change. Also, if you use [Mint](https://github.com/yonaskolb/Mint) it is even easier...

I am closing this issue since I think it is already fixed. If you have problems reopen please :)

[2021-09-25 17:48] #190 closed

[2021-09-25 17:52] nacho4d commented on #182
Sorry this comes after a long time...

I followed the steps mentioned by @albertodebortoli and now the [Brew tap repository](https://github.com/XCTestHTMLReport/homebrew-xchtmlreport) works!.

Thank you @albertodebortoli

README has been updated to reflect the change.  BTW, if you use [Mint](https://github.com/yonaskolb/Mint) it is even easier...

I am closing this issue since I think it is alread

[2021-09-25 17:52] #182 closed

[2021-09-25 17:54] nacho4d commented on #86
As suggested by #182 I created a [Brew tap repository](https://github.com/XCTestHTMLReport/homebrew-xchtmlreport) and brew one-liner installation now works again!. README has been updated to reflect the change.

BTW, if you use [Mint](https://github.com/yonaskolb/Mint) it is even easier...

I am closing this issue since I think it is already fixed. If you have problems reopen please :)

[2021-09-25 17:54] #86 closed

[2021-09-26 02:40] nacho4d commented on #202
Would be nice to allow those two arguments ... I will add the "Feature" label.

[2021-09-28 14:45] nacho4d commented on #188
Humm... I think it would be nice to have this fixed.

Possible places to look:
- XCResultKit or Xcode is returning something XCTestHtmlReport doesn't know OR
- XCResultKit is failing at some point and XCTestHTMLReport is not getting the right data to work with.

[2021-09-28 14:53] nacho4d commented on #187
I think this issue is solved. Can someone confirm is this issue still persist in latest develop?

Brew installation has been fixed but there is no new release yet because I haven't got confirmation this and/or #208 are really solved.

To install latest develop with [Mint](https://github.com/yonaskolb/Mint):

Install latest from develop branch with [Homebrew](https://brew.sh/):

For more options se

[2021-09-28 14:56] nacho4d commented on #208
@nickgarkusha

Thank you for confirming this! I think we need a release soon :)

[2021-09-28 14:58] nacho4d commented on #185
IMO This needs a fix

[2021-09-28 15:04] nacho4d commented on #175
This has been solved in https://github.com/XCTestHTMLReport/XCTestHTMLReport/pull/172
XCTestHTMLReport now shows correctly skipped tests :)

@gangadharbonda I am closing this but if you have problems please reopen or create a new issue :) Cheers.

[2021-09-28 15:07] nacho4d commented on #170
@sprint84
Thank you for reporting this. This seems to be solved.
I would like to close this issue and also mention it in the release notes when new release is done (hopefully soon!)

[2021-09-28 15:07] #170 closed

[2021-09-28 15:14] nacho4d commented on #151
Thank you for reporting and for fixing the issue!

This issue seems to be solved so I am closing this issue. If you find the same issue please do not hesitate to reopen or create a new issue :)

Cheers!

[2021-09-28 15:14] #151 closed

[2021-09-28 15:41] nacho4d commented on #145
I think with @nonec 's fix #201  .log extension will work and this problem will be fixed. Can someone confirm this please?

You can install the from the latest develop via Mint or Homebrew

[2021-09-28 15:56] nacho4d commented on #135
More than 2 years later...

I saw that video! And agree that result bundles are indeed great!

XCTestHTMLReport uses XCResultKit to get information from result bundles.
XCResultKit will do all the hard work of reading the file (and its related files, attachments, logs, results, etc) and return it as a known structure.

[2021-09-28 16:35] ssharma0312 opened #215 "Produce Junit XML format instead of .Junit"
Hi There

First of all, thank you for creating this library.

The `-j` produces the junit report but in `.junit` format which is not compatible with Gitlab pipelines. Is there a way to produce Junit XML style report?

[2021-09-29 00:50] nacho4d commented on #215
Are you using the latest latest source?

I am using `xchtmlreport` build from latest develop and it works with my gitlab pipeline.

Here is a part of my .gitlab-ci.yml

[code]

[2021-09-30 20:57] ssharma0312 commented on #215
Thanks @nacho4d
Turned out the issue is with Gitlab. There is open bug with Gitlab pipelines where gitlab throws parsing error for large junit files (bug link below), and that's exactly what I am encountering, and so for now I am eliminating some nodes using xmlstarlet in `junit.report` and that seems to resolved the issue.

Gitlab Bug: https://gitlab.com/gitlab-org/gitlab/-/issues/268035

Workaro

[2021-09-30 20:57] #215 closed

[2021-09-30 21:18] ssharma0312 opened #217 "Junit & HTML reports - Incorrect count for failed tests when `-retry-tests-on-failure` flag is passed"
With introduction of XCode 13, we can now re-run failed tests multiple times. This feature is very helpful for flaky tests.

Unlike .xcresult file, the test reports produced by XCTestHTMLReport counts re-tried tests x number of times (where x == no. of times a test is retried). This shows incorrect metrics.

In the following example I am passing flag `-retry-tests-on-failure`, so my failed test wi

[2021-10-01 00:45] ssharma0312 opened #218 "Feature Suggestion - Attach Screenshots only for Failed Tests"
The .HTML file prepared is very large, and takes good 4-5 mins to load when you have large number of tests. If we can pass a flag that indicates to save screenshots for failed tests only that would be great, and reduce the size of .HTML report.

[2021-10-01 01:29] ssharma0312 opened #219 "How to contribute to this repo"
I love XCTestHTMLRport, and would like to contribute where I can.

I would need instructions how to contribute:
1) Do I need to get access to create branch on this repo?
2) Is there any WiKi page provide high-level overview regarding the project (if not, it's fine).

[2021-10-01 04:34] nacho4d commented on #218
@ssharma0312 I would like to have this feature too!

[2021-10-01 04:55] nacho4d commented on #219
Hi @ssharma0312 Thank you suggesting that.

In the README.md at the bottom there is a section about Contribution (With a link to CONTRIBUTING.md).

About question 1:

No write access is necessary to start contributing code. As usual on Github, you can clone the repository and work on the changes as you desire. When you are ready and want to contribute that code to this repo you can create a pull r

[2021-10-01 04:59] nacho4d commented on #217
@ssharma0312 Thank you for reporting this.
I haven't reproduced this bug but since you provided all the screenshots and information I think this look like a valid bug (or a new feature in Xcode13 XCTestHTMLReport doesn't support yet and it looks like a bug).

[2021-10-01 05:22] nacho4d commented on #215
Oh! I wasn't aware of this issue in gitlab.

Great to know you found a way to work-around it! Thank you for closing the issue.

[2021-10-01 19:21] ssharma0312 commented on #219
Thanks @nacho4d. I'll review the Contributing guidelines.

[2021-10-02 21:08] ssharma0312 opened #220 ".xcresult file doesn't open when -d flag is passed to deleted unattached files"
XCode 13
macOS Big Sur 11.6

XCode throws an error while opening the .xcresult file when `-d` flag is passed to delete unattached files.

`#- xchtmlreport -r ${CI_PROJECT_DIR}/TestResults.xcresult -j -z -d`

![image](https://user-images.githubusercontent.com/15973152/135731778-10d37853-08c2-48d0-8e0b-f72d8352eb18.png)

[2021-10-06 21:22] tylervick opened #222 "Change default branch from "develop" to "main""
For general consistency and predictability, I'd like to propose that the default branch change from `develop` to the more commonly-used `main`.

cc @nacho4d

[2021-10-07 13:16] #203 closed

[2021-10-07 13:30] #222 closed

[2021-10-08 15:59] nacho4d commented on #163
Needs to decide what the script should do.

- Just download the binary OR
- build from source.

Currently a mix of both things are being tried and this is the reason of the failure

[2021-10-08 16:12] #82 closed, assigned to nacho4d

[2021-10-08 17:08] nacho4d commented on #129
Hi,

After a long time... It is already 2021 so 2 years later...

To me, building a view for all the passed/failed/skipped tests (what XCTestHTMLReport does) and calculating the code coverage these two are two different tasks.

You mean you want a similar tool to [slather](https://github.com/SlatherOrg/slather)? Or do you need some special things from XCTestHTMLReport in your code coverage

[2021-10-08 17:22] tylervick opened #227 "Bump homebrew to 2.2.0"
After releasing 2.2.0 (🎉 🎉 🎉 ) we want to update xchtmlreport.rb to reflect the new version.

[2021-10-08 17:23] #227 closed, assigned to nobody

[2021-10-12 07:22] H2wk opened #228 "Root manifest not found"
Receiving this error when trying to upgrade.

Worth adding in the missing package file etc

[code]

[code]

[2021-10-14 01:02] nacho4d commented on #228
@tylervick
Last night I could have sworn I was changing the tap repo and not this... 😅

Thank you for fixing this and removing the formula from this repo. This way we don't get confused anymore :)

@H2wk
If the install issue is solved can we close this issue?

[code]

[2021-10-14 17:59] tylervick opened #232 "Fix `brew test` - prerequisite for submission to homebrew-core"
We are eligible for submission to Homebrew/homebrew-core but will need a successful (and meaningful) test first.

The existing brew test command: https://github.com/XCTestHTMLReport/homebrew-xchtmlreport/blob/main/xchtmlreport.rb#L14

Brew test does not execute in the context of the source code. We need to update this to properly execute some sort of functional test.

[2021-11-03 18:29] tylervick opened #234 "Support anchor links to individual activities"
I often want to share a particular line of the test report. Currently there's no way to link to a specific activity and I have to instruct the recipient to navigate manually.

Ideally when a line is selected we can provide an anchor href that can be easily copied. If an anchor is present on page load the test report should open and focus on that activity automatically.

[2021-11-03 19:13] ssharma0312 commented on #217
Any update on this bug?

[2021-11-03 21:18] ssharma0312 commented on #220
@nacho4d = This is still an issue on v2.2.0 as well which has  #203 fix
![image](https://user-images.githubusercontent.com/15973152/140194243-0ad366e3-fdb6-465b-89ba-8ff5bdb77473.png)

[2021-11-03 21:24] tylervick commented on #220
Hey @ssharma0312 - what do you feel should be the expected behavior? Since there will always be unattached files remaining in the xcresult bundle, deleting these will always break the bundle.

The alternative behavior I could see is to copy attachments to a new directory and always leave xcresult intact, independent of the html result.

[2021-11-03 21:41] ssharma0312 commented on #220
Ah I see what you mean.
Currently I rely on .xcresult file only as .html file produced counts re-run tests twice due #217 issue. The .xcresult provide currently goes over sometimes 0.5 GB in size which is a problem when uploading as part of CI/CD job. And if I can't open .xcresult file after it deletes the unattached images then there is no point of using the flag -d.

[2021-11-03 23:16] ssharma0312 commented on #219
@nacho4d -
I get following error when pushing commit to this repo
```remote: Permission to XCTestHTMLReport/XCTestHTMLReport.git denied to ssharma0312.```

[2021-11-04 01:23] ssharma0312 commented on #219
#2 - @nacho4d - If you can please provide instructions on how to test the code locally? I made some changes to fix one of the current outstanding bug but want to test it out locally.

[2021-11-04 16:36] tylervick commented on #219
Hey @ssharma0312, we can definitely clarify the contributing instructions further.
You'll want to create a fork of this repo into your own account where you have write access. You should use the forked repo as your upstream origin and push your local changes there. Once the branch is pushed up you can create a PR that requests to merge your forked branch into the main repository.

More details in

[2021-11-04 16:38] tylervick commented on #219
re: testing locally, please see the ci.yaml workflow here: https://github.com/XCTestHTMLReport/XCTestHTMLReport/blob/e4af85f846a75a4376cbee26adfb82c12242af27/.github/workflows/ci.yml#L28-L31
Those commands can be run in local environments as well.

[2021-11-09 03:40] ssharma0312 commented on #219
Thanks @tylervick that worked, so this Test jobs produces TestResults.xcresult that looks good but is there a way to produce .HTML & .JUNIT reports as well locally to verify the changes?

[2021-11-11 18:00] thisisjeffwong opened #237 "Expected runtimes or slow? could use some console feedback"
Is the expected runtime of this script in the tens of minutes to 1 hour for about 400MB of test results?

When I first ran it, I thought it was broken but then I accidentally left it running and was pleased to find a result file.

Is there a way to dump some feedback to the console?
Or have some kind of predictor of run time? Otherwise, people might give up on this great tool!

Also, what aspects

[2021-11-12 06:38] thisisjeffwong opened #238 "Inlining causes memory leak and/or infinite loop"
I've noticed that some result files from Xcode 12.5 and Xcode 13 cause the process to consume about 75GB of virtual memory when trying to do inlining of images, until killed by the OS for running out of memory. Without inlining, it completes in about 20 minutes. The test results file itself is only 450MB large.

Is there an obvious way this could be prevented?

[2021-11-12 08:31] nacho4d commented on #238
Recently a memory problem was addressed in this pull request https://github.com/XCTestHTMLReport/XCTestHTMLReport/pull/230 . It is not release yet. I mention it since it could be one of the reasons of this issue.

[2021-11-15 17:25] ssharma0312 commented on #219
@nacho4d - Do you know if there a way to produce .HTML & .JUNIT reports locally to verify the changes?

[2021-11-16 21:51] thisisjeffwong commented on #238
Thanks, I was able to finish my runs with the top of main branch.

[2021-11-16 21:51] #238 closed

[2021-11-17 00:53] Husseinovich commented on #217
I am also seeing this issue on Xcode 13.1. Tests that passed on successive iterations are reported as failure. Very critical bug.

[2021-11-17 15:42] bikee1235 opened #239 "getting broken image in html file"
Hi

I update the latest build and in that one, I can see images are showing broken
<img width="1034" alt="Screenshot 2021-11-17 at 9 10 14 PM" src="https://user-images.githubusercontent.com/23609848/142232358-4364c68d-c69b-4763-9459-cbd7c2302afe.png">

[2021-11-18 18:13] ssharma0312 commented on #217
Working on bug, will create a MR coming shortly with the fix.

[2021-11-20 15:17] nacho4d commented on #219
@ssharma0312
Sorry for late response.

## If you want to check the changes manually:

When you build with SPM (swift build ...) then the binary is somewhere inside .build folder.
In debug build: `.build/debug/xchtmlreport` in release build: `.build/release/xchtmlreport` :

    swift build
    .build/debug/xchtmlreport -h
    swift build -c release
    .build/release/xchtmlreport -h

## If you want

[2021-11-22 19:58] thisisjeffwong commented on #202
Could the images be resized before the HTML is built? Seems like resizing before inlining would make the resulting file smaller.

[2021-11-22 19:59] thisisjeffwong commented on #239
Have you moved the HTML file?

Are you using inlining and image resizing?  See this issue: https://github.com/XCTestHTMLReport/XCTestHTMLReport/issues/202

[2021-11-29 20:17] thisisjeffwong opened #241 "Does resizing affect inline images file size?"
I performed a resize operation on a test results file and then regenerated the report with inline images. I was surprised that the inline images size did not change.

Does inlining automatically resize the images before generating the inline images?

[2021-12-07 10:50] kronenthaler commented on #237
I have found a very similar issue with the slowness of the reporting. Adding `-v` provides some feedback about the process going on, albeit limited.

Not sure what makes it so slow.

[2021-12-29 01:16] tylervick commented on #217
Please feel free to test by pulling from #247

Or using mint: `mint run tylervick/XCTestHTMLReport@tvick/mixed-test-status`, though I don't encourage the practice of executing arbitrary git repos (even from myself 😬)..

[2022-01-05 12:53] tarakeswa opened #248 "The generated .junit XML report file validation is failing"
Hi Team,

Used following command `xchtmlreport -r TestResults -j`

I see that report.junit file is created after my test execution is finished on my iOS device. But when I copy the content from the report.junit file and trying to validate its format using XML validation sites, it shows syntax errors.

Looks like the report is not formatted correctly according to the XML syntax. Can anyone please l

[2022-01-05 13:58] nacho4d commented on #248
Thank you for reporting this. I will look in to this.

I think the name of your device is the origin of the error since it has a `'` in it: `Tarakeswara's iPhone 7`.  So if you are in a hurry you can rename your iPhone to something else.

[2022-01-05 16:30] nacho4d commented on #248
It checked the source and it looks it should be solved already (about one year ago). Are you using the latest version?

- It was fixed in the [pull request](https://github.com/XCTestHTMLReport/XCTestHTMLReport/pull/196/files).
- If needed, you can refer to the updated [README.md](https://github.com/XCTestHTMLReport/XCTestHTMLReport/blob/main/README.md) for installation instructions.

[2022-01-05 16:32] nacho4d commented on #228
I am closing this due to inactivity. It should be fixed but if not reopen please

[2022-01-05 16:32] #228 closed

[2022-01-05 16:37] tarakeswa commented on #248
I am using the 2.0.0 version. Thanks for pointing the problem, I will update to the latest software. thank you so much for looking into it.

[2022-01-05 16:37] #248 closed

[2022-01-05 16:41] nacho4d opened #249 "An option or subcommand that shows only the version number"
I think we need an option/subcommand to show only the version number and exit with 0 status.
This command will become handy when submitting bugs. Users ideally should mention the version they are using and having problems with.

`xchtmlreport -v` is already taken so `xchtmlreport --version` ?

[2022-01-05 16:46] nacho4d commented on #248
I should clarify. It was fixed like a year ago but it was released on [October 2021 Latest Version 2.2.0](https://github.com/XCTestHTMLReport/XCTestHTMLReport/releases/tag/2.2.0).

[2022-01-05 23:24] tylervick commented on #249
+1 to this - I also think we need a way to unify versioning between git tags and the hardcoded string in the swift file.

I'm not really sure of a good way to do this - SPM/mint/etc. uses tags, whereas the --version command would need some way of updating the string (maybe via resources/some other CD job)

Also, this is a good enough reason to replace `-v` with something like `--debug` or `--log-l

[2022-01-06 01:47] nacho4d commented on #249
Yeah! I agree with your suggestion totally.I think updating the hardcoded version string to be always in sync with the tag is something we need.

I imagine a manually triggered CD job that:
- Requires an input like "2.5.0" or "v2.5.0" or "version 2.5.0"
- Then, input will be cleaned and converted to "2.5.0" to maintain uniformity in all future releases (or fail if string is not in the expected for

[2022-01-06 01:48] nacho4d commented on #249
Do you think it is good we do this in `next` branch?

[2022-01-07 01:19] tylervick commented on #249
Yeah - especially if we modify the current `-v` flag I think it makes sense to put this in `next` to denote a breaking change. It also is easier to implement there when ArgumentParser is used.

I'm surprised that SPM doesn't have a solution for this.. But yeah a CD job like you outlined would make sense. Maybe a `VERSION` file that can be read at compile time and referenced/updated according to th

[2022-01-13 17:05] nezhyborets opened #254 "Logs tab is empty"
Hi. First of all, this tool is fabulous and I hope I can contribute and help in future.

I have an issue where Tests tab works just fine, but Logs tab simply prints

<img width="947" alt="Screenshot 2022-01-13 at 18 49 05" src="https://user-images.githubusercontent.com/2803931/149373200-508127b6-6b75-4f92-8f00-079a16c5d805.png">

We run XCTestHTMLReport as part of CI (Jenkins, Fastlane)

### The v

[2022-01-14 20:59] tylervick commented on #254
Hey @nezhyborets, thanks for reporting! Xcode 13 moved the log output to a different section of the xcresult structure so we had to adjust.

I merged in #243 recently which should fix this issue - We haven't bumped the version yet but if you want to test it out you can clone and build the repo or install the head using brew: `brew install XCTestHtmlReport/xchtmlreport/xchtmlreport --HEAD`.

I'll l

[2022-01-21 19:46] #241 closed

[2022-01-23 06:16] TangGuowei opened #256 "Error: SHA256 mismatch"
brew install XCTestHtmlReport/xchtmlreport/xchtmlreport

Error: SHA256 mismatch
Expected: c1e454dedae3373414d0bafd8dac0a8b0afb6daddd475108b5e577ae8d7496c1
  Actual: 812bb0655517a705a06a931a0a9b59c674064018e8c946dee81817c7a1df327a
    File: /Users/bkdevops/Library/Caches/Homebrew/downloads/892a51eb2f6d6d239f2e15d2cad329c090c8f656b1300f7f6410ac284ec14afd--XCTestHTMLReport-2.2.1.tar.gz
To retry an in

[2022-01-24 03:57] yjchiu18 commented on #256
⚠️same here.⚠️

[2022-01-24 07:10] tylervick commented on #256
Sorry for that! A new CI job calculated SHAs incorrectly. I've manually corrected this and it should be live now - Will follow up with a fix for the GH action script.

[2022-01-27 10:43] KrzysztofKupczyk commented on #239
Have exactly the same issue. I can open those images in XCode but html raport can't open it. I've done some research and found out that HEIC files are not supported by Safari/Chrome. Here is my question - how we have to open html report if browsers not support this format?

[2022-01-27 15:29] aistetests commented on #256
I am still getting it (via brew)

[2022-01-28 02:41] teerayuthton commented on #256
Same issue

`brew install XCTestHtmlReport/xchtmlreport/xchtmlreport

==> Downloading from https://codeload.github.com/XCTestHTMLReport/XCTestHTMLReport/tar.gz/refs/tags/2.2.1
# #=O#- #
Error: xchtmlreport: SHA256 mismatch
Expected: c1e454dedae3373414d0bafd8dac0a8b0afb6daddd475108b5e577ae8d7496c1
  Actual: 812bb0655517a705a06a931a0a9b59c674064018e8c946dee81817c7a1df327a
    File: /Users/ton/Librar

[2022-01-31 11:43] atakankarsli commented on #239
We faced the same issue after updating from 2.0.0 to 2.2.1
Problem for us is, it puts screenshots with wrong URL: `artifact/fastlane/test_output/fastlane/test_output/UITests.xcresult/Screenshot_`

[2022-01-31 20:43] tylervick commented on #256
Sorry about this whole problem everyone - https://github.com/XCTestHTMLReport/homebrew-xchtmlreport/blob/84c552ae25b0fa9d3c162d928e1369e13c374c7c/xchtmlreport.rb#L5 reflects the actual sha now

[2022-02-01 10:02] aistetests commented on #256
Got it working eventually after brew update and brew upgrade. Thanks!

[2022-02-02 10:51] nezhyborets commented on #239
Same issue here

[2022-02-02 11:36] nezhyborets commented on #254
Report made with 2.2.1 still doesn't have logs, I believe it should? Do you need any debugging info from me?

[2022-02-02 12:06] atakankarsli commented on #239
We were using the Fastlane plugin and we understood that there is no problem when we run the xchtmlreport command in the directory where the xcresult file is located.

We stop using deprecated fastlane plugin instead we will trigger directly from groovy .

[2022-02-03 11:58] nezhyborets commented on #239
Thanks. I may try [fastlane sh action](https://docs.fastlane.tools/actions/sh/) then.

[2022-02-04 11:55] nezhyborets commented on #239
I still have the problem. I see that html img src looks to test_output folder, e.g.:
[code]

So I guess that `index.html` should reside one level higher, not in test_output folder.

[2022-02-09 08:26] kopczyd commented on #239
+1 Same issue. Both with "-i" parameter and without "-i"
I did not check on simulator, our tests are performed on Jenkins and real devices. All reports look like the one from the first post.

[2022-02-09 08:45] nezhyborets commented on #239
`index.html` looks into `test_output/*.xcresult` for images. So after html report is generated, I manually put xcresult into that location. Fixes the issue for me.

Here is my code from Fastfile, so all the sh calls happen in PROJECT_ROOT/fastlane
[code]

[2022-03-14 19:26] tylervick commented on #256
Thank you! Please reopen if you're still seeing this.

[2022-03-14 19:26] #256 closed

[2022-03-15 18:47] ugiacoman opened #258 "Performance Issue when switching to using a testplan"
Hey folks, thanks for maintaining this library. When we switch to using testplans, this command hangs on `Parsing ActionDeviceRecord`. Without testplans, it ran way quicker. We're talking about 10 second to 2 minute performance change. Any ideas? We're using Xcode 13.2. I should also mention we enabled parallelization of our tests.

Output with `-v`
[code]

[2022-03-15 19:12] ugiacoman commented on #162
Oh interesting, we're running into the same issue. Reported this in #258. I thought it was due to test plans, but maybe it is due to parallelization.

[2022-03-25 08:57] kamvoick commented on #254
Hey, still not seeing logs on 2.2.1 (xcode 13.3). I did add `-v` if that would make any difference

[2022-04-07 16:13] #258 closed

[2022-04-09 20:56] bdmariobd opened #259 ".plist file not found"
In my test, the .plist file is not called 'Info', is generated with other name. Is there a XCTestHTMLReport to specify this file name?

[2022-04-12 19:07] tylervick commented on #254
Hey @kamvoick - What was the destination of your test run? E.g. iPhone (arm64) iOS 15.4, etc

[2022-04-13 17:16] kamvoick commented on #254
@tylervick hello, I tried on both 15.4 and 15.3.

[2022-04-14 20:01] anuragmaheshwari commented on #239
Hi @nezhyborets
I followed the steps that you mentioned but still images are not showing up in index.html file.

![Screen Shot 2022-04-14 at 3 57 16 PM](https://user-images.githubusercontent.com/20210885/163466367-02016e0c-3ef9-4aa6-8151-53ab16df8be9.png)

[2022-05-26 11:00] KeywordsIndiaAutomationTeam opened #263 "Test Report Screenshots"
I am unable to view screenshots on sending the report to another system, I have tried sending the XCResult file with the report but it is still not working.

[2022-05-30 02:18] qhu91it commented on #263
You can workaround like this.
1. Create a folder for TestResults.xcresult, eg: OutputReport/TestResults.xcresult
2. cd to OutputReport
3. Run command export: xchtmlreport -r TestResults.xcresult
you can delete symbolic link in the end, only need index.html and TestResults.xcresult

[2022-06-14 04:09] tylervick commented on #263
Hey @KeywordsIndiaAutomationTeam - could you please provide the command & arguments you're using? There are a couple ways that screenshots files can be generated and if there's a reproducible bug here I'd like to get it fixed!

Thank you @qhu91it for the detailed workaround!

[2022-06-14 04:13] tylervick commented on #202
This should be fixed by #253 `-z` and `-i` may be run simultaneously. This also implicitly converts the heic encoding to jpeg, since Chrome does not natively support heic/heif..

[2022-06-14 04:13] #202 closed

[2022-06-21 22:07] MalcolmCNZ opened #264 "Tests/Logs are Empty"
I get the following error

[code]

[2022-06-24 17:20] swarajrao opened #265 "Skipped tests are getting marked as failed on Xcode 13.4.1"
<img width="912" alt="Screen Shot 2022-06-24 at 11 22 12 AM" src="https://user-images.githubusercontent.com/87317545/175610860-62f411c6-0a07-47b7-badc-23f61b616e1c.png">
<img width="550" alt="Screen Shot 2022-06-24 at 11 20 55 AM" src="https://user-images.githubusercontent.com/87317545/175610863-6430956a-7b44-4d61-894c-f0efbe64ee70.png">

We haven't noticed this issue in previous Xcode versions, i

[2022-07-03 07:20] nacho4d commented on #184
@ratkins It is being a long time. ?
I think names are already ok in latest release.  Can you try with the latest version? (2.2.1)

[2022-07-03 07:37] ratkins commented on #184
Blast from the past :). I’m afraid I’ve long since moved on from the project where this was causing a problem, so I have no way to test if it’s fixed.

[2022-07-03 07:43] nacho4d commented on #184
Got it!. Thank you.
Since I think this is indeed solved I am going to close this issue.
If someone has the same problem it is possible to reopen this again :)

[2022-07-03 07:43] #184 closed

[2022-07-03 07:51] nacho4d commented on #259
@bdmariobd Sorry for the late reply.

Could you specify what command are you running?

XCTestHTMLReport uses `*.xcresult` files which should created by yourself. I am not aware that XCTestHTMLReport directly uses Info.plist so if you provide an example I can try it.

[2022-07-13 09:50] diegotl opened #267 "Layout is broken in generated HTML file"
I noticed the page layout seems to be a bit broken, and differs from what it's expected to be. I make a small project to illustrate.

- There are two extra sections "Selected tests (3.85s)" and "(3.85s)" that doesn't make much sense.
- Below UlTestAppUlTests(3.85s) we see the snapshots generated in testExample(), but they shouldn't be there.
- Below testExample() we see the same snapshots, but the

[2022-07-14 10:51] tomleightonstars opened #268 "Junit report doesn't show device model"
Hi,

I've noticed that when getting a Junit report for a test run on multiple device models, the test suite name and test case classname values are in the format `<TestClassName> - iPhone - 13.4.1`. it would be great to have the iPhone model noted there too.

The HTML report does show this info

[2022-07-19 18:24] chri7325 opened #272 "Is there an option to remove device names and OS version from junit reports"
The junit results output by this tool add in the device and OS version into the junit results. Unfortunately, the . in the results does not play well with the Jenkins junit plugin, which treats the . as a separator between test suite and test name. This also impacts other tools such as the slack plugin which also reports junit results but also reports the wrong test suite and test names. Here's an

[2022-07-19 19:20] tylervick commented on #272
Hey @chri7325 - rather than removing this data, would it be acceptable to replace the problematic delimiters with some other symbol? E.g. `15.0 ~> 15_0`

[2022-07-19 19:34] chri7325 commented on #272
@tylervick thank you for the very quick response. Yes, I think that would actually be a good general fix as well. I was thinking an option could also be beneficial in other cases where you may not want results to be completely unique for historical purposes. For example, we currently use a single device for results and if we want to keep a total history of the results for a test, we'll lose the hi

[2022-08-11 14:29] ntduyet opened #273 "Xcode 14 support"
Hello, thanks for building this awesome tool.

We're working on Xcode 14 support and notice there are some unexpected changes in `xcresult` format compared to Xcode 13.x. One breaking change is `ActivityTestSummary.activitySummaries` no longer include `com.apple.dt.xctest.activity-type.testAssertionFailure` type which causes the generated HTML/Junit report doesn't show up any failure reason/messag

[2022-08-18 14:09] ntduyet opened #274 "Images are not showing up in HTML file"
Hello,

After upgrading from `2.1.0` to `2.2.1`, the HTML report on our CI is not showing any images/screenshots.

<img width="1648" alt="Screenshot 2022-08-18 at 14 57 14" src="https://user-images.githubusercontent.com/104858620/185413854-bf05e75c-69ea-449e-bcb2-fbf844d9e713.png">

It's seem to be a regression issue caused by https://github.com/XCTestHTMLReport/XCTestHTMLReport/pull/253 where the

[2022-08-20 11:00] ntduyet commented on #274
It's not only happening to images but also all other attachments.

[2022-08-23 09:17] #274 closed

[2022-08-24 09:32] lpusok opened #279 "Fails to install from brew"
[code]

[2022-08-24 14:37] andrewrauscher commented on #279
Same issue here with 2.2.2

[2022-08-24 14:41] Paul-van-Klaveren commented on #279
We use this on Bitrise CI, where version 2.2.2 fails to install. However, locally I can uninstall and install this without issues.

[code]

[2022-08-24 14:49] andrewrauscher commented on #279
Interesting, we are using GitHub Actions, and so we should be getting a clean MacOS instance to build to each time. Right now I disabled using xctesthtmlreport, but if I get time perhaps I'll investigate uninstalling and installing.

[2022-08-24 18:18] tylervick commented on #279
Big thanks to @chenshifei for fixing this in https://github.com/XCTestHTMLReport/homebrew-xchtmlreport/pull/13
I'll keep this open until someone experiencing this issue can confirm the fix.

Apologies for the break - the homebrew version bump action was updated and didn't include the correct class name for versioned formula.

Side note: We're currently in process of adding XCTestHTMLReport to http

[2022-08-25 05:50] Paul-van-Klaveren commented on #279
We confirm it works again! Thanks for the quick response!

[2022-08-29 09:59] jeremierichard commented on #279
It worked for us also, thanks ❤️

[2022-08-29 18:05] tylervick commented on #279
Great, thanks for the confirmation! I'll close this out

[2022-08-29 18:05] #279 closed

[2022-09-08 22:47] tylervick opened #287 "Investigate displaying diagnosticsRef"
e.g. https://github.com/google/xctestrunner/blob/e0bc4b29976cf000794e9e796cb8a584b0c443bc/test_runner/xcresult_util.py#L48

we may be able to display this information on the report

[2022-09-15 19:36] chri7325 commented on #273
I've also just started hitting this issue as well with Xcode 14. The HTML report correctly shows the failed tests but the junit shows the tests as passing so we're not able to have Jenkins report on the results correctly.

[2022-09-19 18:15] tylervick commented on #273
Adding some additional details -

It appears that the top-level summary still reflects the correct status count. But as others noted, the `<failure>` tag is not present in any report from an Xcode 14-based xcresult bundle.

It looks like xcresulttool 3.39 removed the `testAssertionFailure` type.

We still have `ActionTestFailureSummary`, though it's a separate section from the other test summary s

[2022-09-21 20:18] ssharma0312 commented on #273
I am encountering exact same issue. I no longer see "<failure>" tag in the junit report produced on XCode 14 .xcresult file.

[2022-09-23 16:27] tritter opened #293 "Low resolution on iPad landscape"
Would it be possible to add the 200 as parameter. With the default width an iPad in landscape is really small and hard to see what was going on... Maybe pass the maxWidth as an argument?

![image](https://user-images.githubusercontent.com/1229109/192008125-97c02757-1bd9-4446-bd70-c711e550e731.png)

[2022-09-24 20:45] tylervick commented on #273
Fix was released in #291 - please comment if you're still seeing issues!

[2022-09-24 20:45] #273 closed

[2022-09-28 03:56] chri7325 commented on #273
@tylervick I updated this tool with brew and now we're getting correct results. You guys rock!

[2022-10-18 14:29] Hsilgos commented on #155
Hi. I'm very glad that project is alive again.
Unfortunately this issue is not fixed yet.
Locally I've fixed it with adding `white-space: pre-wrap;` to `activity-assertion-failure`

Like:
[code]

Not sure how correct this fix

[2022-10-21 21:27] tylervick commented on #155
Thanks @Hsilgos ! I added your suggested change to #297. Feel free to take a look and I'd be happy to merge it in.

[2022-10-21 21:42] Hsilgos commented on #155
Hi, @tylervick

After short usage I've encountered a small problem. This style is applied to both elements: cell with arrow and detailed description. As result it looks like on screenshot. It's ok for our project as quick workaround, but probably should be improved for perfect solution.
I'll try my idea with additional style soon and return with feedback here.

<img width="918" alt="Screenshot 202